<div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-left h-100">
        <h1 class="title text-center mb-2 mt-5">Let's get you verified!</h1>
        <h2 class="subtitle text-center mb-5 ">Please upload your ID and proof of residence</h2>
        <div class="col-12 col-md-9 col-lg-7 col-xl-4">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-3">
  
                <input type="file" (change)="onFileSelected($event)" />
                <button (click)="upload()">Upload</button>

                <br>
                <br>
                <br>
                <input type="file" (change)="onFileSelected($event)" />
                <button (click)="upload()">Upload</button>         
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
