<div class="outer-container">
    <div class="container">
        <div class="flex-container">
            <h1 class="heading">Why is important for me to save?</h1>
            <div
                class="card-container"
                style="border-style: solid; border-width: 0.1px">
                <div class="cardInfo">
                    <div class="card">
                        <img
                            src="./assets/Images/Learn/Financial challenge.png"
                            alt="Card Image"
                            class="card-image" />
                        <h2 class="card-heading">Financial challenges</h2>
                        <p class="card-explanation">
                            It creates a safety net for post-graduation,
                            safeguarding against unforeseen financial challenges
                            when the allowance stops, covering unexpected
                            expenses like medical bills or job search costs.
                        </p>
                    </div>
                    <div class="card">
                        <img
                            src="./assets/Images/Learn/Good habits.png"
                            alt="Card Image"
                            class="card-image" />
                        <h2 class="card-heading">Good financial habits</h2>
                        <p class="card-explanation">
                            It creates good financial habits, benefiting
                            students in the long run by instilling responsible
                            money management skills.
                        </p>
                    </div>
                    <div class="card">
                        <img
                            src="./assets/Images/Learn/Graduate transition period.png"
                            alt="Card Image"
                            class="card-image" />
                        <h2 class="card-heading">Transition period</h2>
                        <p class="card-explanation">
                            Savings acts as a financial buffer during the
                            transition from university to the workforce, helping
                            cover living expenses until a stable income is
                            obtained.
                        </p>
                    </div>
                </div>
                <div class="button-container">
                    <button matStepperNext class="custom-button">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
