.outer-container{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    margin-bottom:0;
    margin-top: 0;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
  }
  
  .heading {
    text-align: center;
    color: #AF144B;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5%;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border-radius: 12px;
    border-color: lightgrey;
    height: 100%;
  }
  .button-container{
    display: flex;
    justify-content: flex-end;
  }
  .cardInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }
  
  .card {
    width: 20vw;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: none;
    height: 40vh;
  }
  
  .card-image {
    width: 90px;
    height: 90px;
  }
  
  .card-heading {
    color: #870A3C;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
  }
  
  .card-explanation {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* Media Query for screens below 786px */
  @media (max-width: 786px) {
    .card {
      width: 90%;
      min-width: auto;
      height:auto;
      padding: 0;
      margin: 0;
      justify-content: flex-start;
    }
    .card-image {
      width:15%;
      height: 33%;
    }
    .heading{
      font-size: 23px;
      width: 100vw;
    }
  
    .card-heading {
      font-size: 18px; /* Adjusted */
      margin: 0;
    }
  
    .card-explanation {
      font-size: 14px; /* Adjusted */
    }
    .container{
      margin-bottom: 20%;
      height: 70vh;
     justify-content: space-evenly;
    }
  }

  