h1 {
  text-align: center;
} 



@media (max-width: 767px) {
  .flex-container {
    margin-top: 5%;
    background-color: #E5E5E5;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
  }
  
  .container {
    background-color: #ffffff;
    align-self: center;
    border-radius: 5px;
  
  }
  
  button {
        background-color:#870A3C;
        border-radius: 5px;
        color: white;
        border: none;
        padding: 10px;
        margin-left: 25%;
        margin-bottom: 20px;
        border-radius: 5px;
        
  }
  
  p{
    padding-top: 40px;
    text-align: center;
  }
}


  @media (min-width: 767px) {
    .flex-container{
      background-color:#E5E5E5;
      padding: 27px;
      margin: 1%;
      width: 35%;
      position: fixed ;
      right: 0;
      bottom: 0;
      position: absolute;
      border-radius: 5px;
     
  }
  
    
    button {
      background-color:#870A3C;
      border: none;
      padding: 5%;
      margin: 7%;
      margin-left: 18%;
      color: #ffffff;
      border-radius: 3px;
      width: 60%;
    
    }
    p{
      text-align: center;
      margin: 18%;
      margin-left: 3%;
    }
  
    .container {
      background-color: #ffffff;
      width: 101%;
      border-radius: 5px;
      align-self: center;
      border-radius: 5px;
      padding: 2%;
      padding-left: 40px;
     
    }
    
    
}


/* /* @media (max-width: 320px) {
    .flex-container {
      margin: 10px;
      padding: 10px;
      position: static;
    } 
}   */