/* Sidebar */
.sidebar {
  background-color: white;
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 2px gray;
  height: 100%;
  min-height: 86vh; /* Make the sidebar take up the full height */
}

.mat-icon {
  font-size: var(--font-x-large);
  text-align: center;
  margin: 10px;
}



.sidebar div {
  background-color: var(--primary-color);
  color: white;
  width: 90%;
  text-align: center;
  line-height: 40px;
  border-radius: 12px;
  margin: 3% auto;
  color: white;
  font-size: var(--font-normal);
  font-weight: var(--regular);
  line-height: 24px;
  letter-spacing: 0.15px;
  word-wrap: break-word;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.sidebar .logout {
  background-color: var(--primary-color);
  color: white;
  width: 90%;
  margin: 10px auto;
  line-height: 40px;
  font-size: var(--font-medium);
  border-radius: 12px;
  border: none;
  margin-top: auto;
  word-wrap: break-word;
  font-weight: var(--regular);
  line-height: 24px;
  letter-spacing: 0.15px;

}

#dashLink{
  margin-top: 3vh;
}

/* Content */
.content {
  flex: 1;
  padding-left: 20px;
}

/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 0;
}

/* .card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
} */

.heading {
  color: #870A3C;
}

h1 {
  color: #870A3C;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
  margin-top: 30px;
  padding-bottom:2%;
  }

  h4{
    font-size: 24px;
    font-weight: 800;
  }

  h5{
    font-size: 16px;
    font-weight: 900;
  }

  h6{
    font-size: 14px;
  }


.sub-header{
  margin-top: 3%;
  padding-bottom: 2%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cardHeading { 
  padding-bottom: 2%;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  height: 90px; 
  max-width: 30%; 
}

.card-content {
  position: relative;
  padding: 2%;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 5px;
  color: grey;
  cursor: pointer;
}

.icon-container .edit {
  position: absolute;
  top: 0px;
  right: 25px;
}


mat-progress-bar {
  margin-top: 10px;
}

.mat-mdc-progress-bar{
  background-color: #ffffff;
  --mdc-linear-progress-active-indicator-color: #870A3C;
}

.balance {
  position: absolute;
  right: 5px;
  padding-top: 3%;
  color: black;
  
}

/* Media Queries */
@media (max-width: 1020px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content {
    max-width: 100%;
    padding-left: 20px;
  }

  .card {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .card{
    flex-basis: calc(50% - 20px); 
  }
}


@media screen and (max-width: 768px) {

  .container{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

  }

  .heading h1{
    font-size: 24px;
    padding-bottom:5%;
  }

  .sub-header h4{
    font-size: 18px;
    padding-bottom:2%;

  }

  .grid-container {
    gap: 18px;
  }

  .card {
    flex-basis: 100%; 
    max-width: 100%;
  }

  .title h5{
    font-size: 16px;
  }

  .cardHeading h4{
    font-size: 18px;
    padding-bottom:2%;

  }

  .balance h6{
    position: absolute;
    color: black;
    right: 0px;
    font-size: 14px;
  }
}

/* 
.container {
  width: 100%;
  
}

.heading {
  color: var(--primary-color);
}

h1 {
  color: var(--primary-color);
  font-size:var(--font-xx-large);
  font-family: var(--base-font);
  font-weight: var(--semi-bold);
  line-height: 20px;
  word-wrap: break-word;
  margin-top: 30px;
  padding-bottom:2%;
  }

  h4{
    font-size: var(--font-x-large);
    font-weight:  var(--bold);
  }

  h5{
    font-size:  var(--font-normal);
    font-weight:  var(--bold);
  }

  h6{
    font-size:  var(--font-small);
  }


.sub-header{
  margin-top: 3%;
  padding-bottom: 2%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.cardHeading { 
  padding-bottom: 2%;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid var(--gray);
  border-radius: 15px;
  padding: 10px;
  height: 90px; 
  max-width: 31.197%; 
}

.card-content {
  position: relative;
  padding: 2%;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 5px;
  color: grey;
  cursor: pointer;
}

.icon-container .edit {
  position: absolute;
  top: 0px;
  right: 25px;
}


mat-progress-bar {
  margin-top: 10px;
}

.mat-mdc-progress-bar{
  background-color: white;
  --mdc-linear-progress-active-indicator-color: var(--primary-color);
}

.balance {
  position: absolute;
  right: 5px;
  padding-top: 3%;
  color: black;
  
}


@media screen and (max-width: 1024px) {
  .card{
    flex-basis: calc(50% - 20px); 
  }
}


@media screen and (max-width: 768px) {

  .container{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

  }

  .heading h1{
    font-size:  var(--font-x-large);
    padding-bottom:5%;
  }

  .sub-header h4{
    font-size:  var(--font-medium);
    padding-bottom:2%;

  }

  .grid-container {
    gap: 18px;
  }

  .card {
    flex-basis: 100%; 
    max-width: 100%;
  }

  .title h5{
    font-size:  var(--font-normal);
  }

  .cardHeading h4{
    font-size:  var(--font-medium);
    padding-bottom:2%;

  }

  .balance h6{
    position: absolute;
    color: black;
    right: 0px;
    font-size:  var(--font-small);
  }
} */
