<div class="container text-left">
    <div class="heading">
        <h1>Expense Allocation</h1>
    </div>
    <div class="sub-header">
        <h4>Savings Goal</h4>
    </div>

    <div *ngIf="amountSet; else elseBlock">
        <div class="grid-container">
            <div class="card" *ngFor="let goalSavings of Goal_Savings">
                <div class="card-content">
                    <div class="title">
                        <h5>Goal</h5>
                    </div>
                    <div class="icon-container">
                        <mat-icon
                            (click)="openGoalModal(goalSavings.id)"
                            class="ediit"
                            >edit</mat-icon
                        >
                    </div>
                    <mat-progress-bar
                        class="red-progress-bar"
                        mode="determinate"
                        value="10"></mat-progress-bar>
                    <div class="balance">
                        <h6>R{{ this.amountSet }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #elseBlock>
        <p>Goal is not set.</p>
        <div class="grid-container">
            <div class="card">
                <div class="card-content">
                    <div class="title">
                        <h5>Goal</h5>
                    </div>
                    <div class="icon-container">
                        <mat-icon
                            (click)="openGoalModal(goalSavings)"
                            class="ediit"
                            >add</mat-icon
                        >
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- <div class="grid-container">
        <div class="card" *ngFor="let goalSavings of Goal_Savings">
            <div class="card-content">
                <div class="title">
                    <h5>Goal</h5>
                </div>
                <div class="icon-container">
                    <mat-icon
                        (click)="openGoalModal(goalSavings.id)"
                        class="ediit"
                        >edit</mat-icon
                    >
                </div>
                <mat-progress-bar
                    class="red-progress-bar"
                    mode="determinate"
                    value="10"></mat-progress-bar>
                <div class="balance">
                    <h6>R{{ this.amountSet }}</h6>
                </div>
            </div>
        </div>
    </div> -->
    <br /><br />

    <div class="cardHeading">
        <h4>Expense Allocation Categories</h4>
    </div>
    <div class="grid-container">
        <div class="card" *ngFor="let transactionType of transactionType">
            <div class="card-content">
                <div class="title">
                    <h5>{{ transactionType.transactionsType }}</h5>
                </div>
                <div class="icon-container">
                    <mat-icon
                        (click)="openExpenseModal(transactionType.id)"
                        class="edit"
                        >edit</mat-icon
                    >
                    <mat-icon
                        (click)="deleteTransactionType(transactionType.id)"
                        >delete</mat-icon
                    >
                </div>
                <mat-progress-bar
                    class="red-progress-bar"
                    mode="determinate"
                    [value]="getTypeProgress(transactionType.transactionsType)"
                    [bufferValue]="
                        transactionType.amountSet
                    "></mat-progress-bar>
                <div class="balance">
                    <h6>R{{ transactionType.amountSet }}</h6>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
</div>
