/* Global styles */
.container {
  width: 1000px;
  margin-top: 30px; 
}

.heading {
  color: #870A3C;
}

.sub-header{
  margin-top: 30px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cardHeading { 
  padding-left: 10px;
  height: 40px; 
  width: 450px;
  position: relative;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  height: 90px; 
  max-width: 300px; 
}

.card-content {
  position: relative;
}

.icon-container {
  position: absolute;
  top: -5px;
  right: 5px;
  color: grey;
  cursor: pointer;
}

.icon-container .edit {
  position: absolute;
  top: 0px;
  right: 25px;
}


mat-progress-bar {
  margin-top: 10px;
}

.mat-mdc-progress-bar{
  background-color: #ffffff;
  --mdc-linear-progress-active-indicator-color: #870A3C;
}

.balance {
  position: absolute;
  right: 5px;
  color: black;
}
.title{
 max-width: auto;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .grid-container {
    justify-content: center; 
  }
  
  .card {
    flex-basis: calc(50% - 20px);  
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: 100%; 
  }

  .container{
    width: auto;
  }

  .grid-container {
   
    /* flex-direction: column; */
  }

  .card-content {
    position: relative;
  }
  .cardHeading { 
    padding-left: 10px;
    height: 40px; 
    width: auto;
    position: relative;
  }

  .cardHeading h3{
    font-size: 20px;
  }

  .balance {
    position: absolute;
    color: black;
    right: 5px;
  }
}