<div class="container">
    <div class="content">
        <div class="heading">
            <h1>Expense Allocation</h1>
        </div>
        <div class="sub-header">
            <h4>Savings Goal</h4>
        </div>

        <div *ngIf="amountSet; else elseBlock">
            <div class="card">
                <div class="card-content">
                    <div class="title">
                        <h5>Goal</h5>
                    </div>
                    <mat-progress-bar
                        class="red-progress-bar"
                        mode="determinate"
                        value={{percentageSaved}}></mat-progress-bar>
                    <div class="balance">
                        <h6>R{{ this.amountSet }}</h6>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="card1">
                <div class="card-content">
                    <div class="title">
                        <h5>Set a Goal</h5>
                    </div>
                    <div class="icon-container">
                        <mat-icon  class="icon" (click)="openGoalModal()"
                            >add</mat-icon>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #noAmountSetBlock>
            <!-- Content to display when transactionType.amountSet is falsy -->
            <div class="card1">
                <div class="card-content">
                    <div class="title">
                        <h5>Set a budget</h5>
                    </div>
                    <div class="icon-container">
                        <mat-icon  class="icon" (click)="openAddExpenseModal()"
                            >add</mat-icon>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="cardHeading">
            <h4>Expense Allocation Categories
                <mat-icon class="bigger-icon" (click)="openAddExpenseModal()"
                      >add_circle</mat-icon
                  >
            </h4>
        </div>
        <div class="grid-container" *ngIf="transactionType && transactionType.length > 0">
            <div class="card" *ngFor="let transactionType of transactionType">
                <div class="card-content">
                    <div class="title">
                        <h5>{{ transactionType.transactionsType }}</h5>
                    </div>
                    <div class="icon-container">
                        <mat-icon class="icon"
                            (click)="openExpenseModal(transactionType.budgetId)"
                            >edit</mat-icon
                        >
                        <mat-icon class="icon"
                            (click)="
                                deleteTransactionType(transactionType.budgetId)"
                            >delete</mat-icon>
                    </div>
                    <mat-progress-bar
                        class="red-progress-bar"
                        mode="determinate"
                        [value]="
                            getTypeProgress(transactionType.transactionsType)
                        "
                        [bufferValue]="
                            transactionType.amountSet
                        "></mat-progress-bar>
                    <div class="balance">
                        <h6>R{{ transactionType.amountSet }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </div>
</div>
