body {
  margin: 0;
  display: flex;
}

.content {
  flex: 1;
  padding-left: 2vw;
  padding-right: 2vw;
}
.bigger-icon{
  color: var(--primary-lighter)!important;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 0;
  padding: 0;
}

.heading {
  color: #870A3C;
}


h1 {
  color: var(--primary-color);
  font-size: var(--font-xx-large);
  font-family: Roboto;
  font-weight: var(--semi-bold);
  line-height: 20px;
  word-wrap: break-word;
  margin:0;
  margin-top: 10px;
  padding:2vw;
  padding-left: 0;
  }

  h4{
    font-size: 24px;
    font-weight: 800;
    margin: 0;
  }

  h5{
    font-size: 16px;
    font-weight: 900;
  }

  h6{
    font-size: 14px;
  }


.sub-header{
  margin-top: 0;
  padding:2vw;
  padding-left: 0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cardHeading { 
  padding: 2vw;
  padding-left: 0;
  padding-top: 4vw;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  height: 90px; 
  max-width: 30%; 
  min-width:20vw;
}

.card1 {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  height: 90px; 
  max-width:30%;
  min-width:20vw;

}

.card-content {
  position: relative;
  padding: 2%;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 5px;
  color: grey;
  cursor: pointer;
}

.icon-container .edit {
  position: absolute;
  top: 0px;
  right: 25px;
}


mat-progress-bar {
  margin-top: 10px;
}

.mat-mdc-progress-bar{
  background-color: #ffffff;
  --mdc-linear-progress-active-indicator-color: #870A3C;
}

.balance {
  position: absolute;
  right: 5px;
  padding-top: 3%;
  color: black;
  
}

/* Media Queries */
@media (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .card{
    flex-basis: calc(50% - 20px); 
  }
  .container {
    flex-direction: column;
  }

  .content {
    max-width: 100%;
    padding-left:0;
    padding-right: 0;
  }

  .card {
    flex-basis: 100%;
    max-width: 100%;
  }

  .container{
    min-width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;

  }

  .heading h1{
    font-size: 24px;
    padding-bottom:4vw;
    padding-top:6vw;
    margin: 0;
  }

  .sub-header h4{
    font-size: 18px;
    padding:0;

  }

  .sub-header{
    padding-bottom: 6vw;
  }

  .grid-container {
    gap: 18px;
  }

  .card {
    flex-basis: 100%; 
    max-width: 100%;
  }

  .title h5{
    font-size: 16px;
  }

  .cardHeading h4{
    font-size: 18px;
    padding-bottom:2%;

  }

  .cardHeading{
    margin:0;
    padding-top:8vw;
    padding-bottom: 6vw;
  }

  .balance h6{
    position: absolute;
    color: black;
    right: 0px;
    font-size: 14px;
  }

  .mat-icon{
    margin: 0;
  }

  .card-content{
    padding:0.5%;
  }

  .card1{
    max-width:100%;
    }
}

@media (min-width: 576px){
.container{
    max-width: 100%;
}
}

@media screen and (min-width: 801px) and (max-width: 991px) {
  .content{
    width:100vw;
  }

  .card{
    min-width:29vw;
    max-width:29vw;
  }
}

