<!-- <div class="container">
  <div class="flex-container">
    <h1 class="heading">Savings account vs No savings account</h1>
    <div class="card-container">
      
      <div class="card1">
        <canvas id="chartCanvas"matTooltip="Comparison table: Total amount after 3 years for R300/month savings with/without savings account." matTooltipPosition="right" ></canvas>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="flex-container">
    <h1 class="heading">Savings account vs No savings account</h1>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <p class="card-explanation">The table compares how much a student would have after three years by saving R300 a month in a tax-free savings account with an 8.0% annual interest rate, to someone saving the same amount for the same time without using a savings account.</p>
        </div>
      </div>
      <div class="card1">
        <canvas id="chartCanvas"></canvas>
      </div>
    </div>
  </div>
</div>
