<div class="container">
  <div class="flex-container">
    <h1 class="heading">Savings account vs No savings account</h1>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <p class="card-explanation">The table to the right shows the total amount a student saving R300 a month for three years can expect to have and compares it to someone saving the same amount for the same period but not in a savings account</p>
        </div>
      </div>
      <div class="card">
        <canvas id="chartCanvas"></canvas>
      </div>
    </div>
  </div>
</div>
