<!-- eslint-disable prettier/prettier -->
<!-- <div class="container">
  <div class="flex-container">
    <h1 class="heading">Savings account vs No savings account</h1>
    <div class="card-container">
      
      <div class="card1">
        <canvas id="chartCanvas"matTooltip="Comparison table: Total amount after 3 years for R300/month savings with/without savings account." matTooltipPosition="right" ></canvas>
      </div>
    </div>
  </div>
</div> -->
<div class="outer-container">
<div class="container">
  <div class="flex-container">
    <h1 class="heading">Savings account vs No savings account</h1>
    <div class="card">
      <div class="card-content">
        <p class="card-explanation">The table compares 3-year savings: R300/month in 8.0% tax-free account vs. non-account savings. This comparison highlights the potential differences in the final savings amounts.</p>
      </div>
    </div>
    <div class="card-container">
      <div class="cardInfo">
      
      <div class="card1">
        <canvas id="chartCanvas"></canvas>
      </div>
    </div>
    <div class="button-container">
      <button  matStepperPrevious class="previous-button">Previous</button>
      <button  matStepperNext class="custom-button">Next</button>
    </div>
  </div>
  </div>
</div>
</div>
