.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-bottom: 15.5%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 90%;
}

.heading {
  text-align: center;
  font-family: roboto;
  font-style: bold;
  color: #870A3C;
  font-weight: bolder;
  margin-top: 1%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card1 {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: none;
  min-height: 290px;
}

.card {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-explanation {
  font-size: 1.2vw;
  font-family: roboto;
  font-weight: lighter;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  line-height: 1.4;
}

#chartCanvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  
  .card1 {
    width: 90%;
    height: 290px;
  }
  .card {
    width: 90%;
    height: fit-content;
  }
  
  .card-content {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }


  .card-heading {
    font-size: 18px; /* Adjusted */
  }

  .card-explanation {
    font-size: 14px; /* Adjusted */
    width:90vw;
  }
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    margin-bottom: 30%;
    height: 66vh;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .heading {
    font-size: 23px;
      width: 100vw;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    height:100%;
  }
}
