<div class="header">
    <h1 class="heading">What do we offer?</h1>
</div>
<div class="container">
    <div class="card">
        <img
            src="/assets/Images/Landing/Open_account_icon.png"
            class="card-img-top"
            alt="..." />
        <div class="card-body">
            <h5 class="card-title">Open an account</h5>
            <p class="card-text">
                Follow our simple set up wizard to open an account in minutes.
            </p>
        </div>
    </div>
    <div class="card">
        <img
            src="/assets/Images/Landing/Spending_money_wallet.png"
            class="card-img-top"
            alt="..." />
        <div class="card-body">
            <h5 class="card-title">Track expenses</h5>
            <p class="card-text">
                Set expense categories and monitor your progress as you spend.
            </p>
        </div>
    </div>
    <div class="card">
        <img
            src="/assets/Images/Landing/Savings_jar.png"
            class="card-img-top"
            alt="..." />
        <div class="card-body">
            <h5 class="card-title">Saving goals</h5>
            <p class="card-text">
                Set savings goals and use our indicator to help you achive your
                goals.
            </p>
        </div>
    </div>
</div>
