<!-- <div class="section">
    <div class="header">
      <h1 class="heading">What do we offer?</h1>
     </div>
    <div class="container">
        <div class="card">
          <img src="/assets/Open_account_icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Open an account</h5>
            <p class="card-text">Follow our simple set up wizard to open an account in minutes.</p>
            <a href="#" class="btn">Open</a>
          </div>
        </div>
        <div class="card">
          <img src="/assets/Spending_money_wallet.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Track expenses</h5>
            <p class="card-text">Set expense categories and monitor your progress as you spend.</p>
            <a href="#" class="btn">Track</a>
          </div>
        </div>
        <div class="card">
          <img src="/assets/Savings_jar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Saving goals</h5>
            <p class="card-text">Set savings goals and use our idicator to help you achive your goals.</p>
            <a routerLink="#" class="btn">More</a>
          </div>
        </div>
      </div>
    </div>
 -->

 <div class="section">
  <div class="header">
    <h1 class="heading">What do we offer?</h1>
   </div>
  <div class="container">
      <div class="card">
        <img src="/assets/Open_account_icon.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Open an account</h5>
          <p class="card-text">Follow our simple set up wizard to open an account in minutes.</p>
          <button class="btn" (click)=" navigateToRegisterComponent()">Open</button>
        </div>
      </div>
      <div class="card">
        <img src="/assets/Spending_money_wallet.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Track expenses</h5>
          <p class="card-text">Set expense categories and monitor your progress as you spend.</p>
          <button class="btn" (click)="navigateToRegisterComponent()">Track</button>
        </div>
      </div>
      <div class="card">
        <img src="/assets/Savings_jar.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Saving goals</h5>
          <p class="card-text">Set savings goals and use our indicator to help you achive your goals.</p>
          <button class="btn" (click)="navigateToLearnComponent()">More</button>
        </div>
      </div>
    </div>
  </div>
