/* css styling for desktop view */
body {
    font-family: Roboto;
}

.container {
    padding-top: 40px;
}

.card-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.card {
    font-family: roboto;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 250px;
    padding-left: 90px;
    width: 100%;
    border-style: none;
}

.vl {
    border-left: 7px solid #870A3C;
    padding-left: 30px;
}


.card-heading {
    font-size: 2.0vw;
    font-weight: bold;
    margin: 10px 0;
}

.card-heading1 {
    font-size: 35px;
    font-weight: bold;
    color: #870A3C;
    margin: 10px 0;
}

.scroll-up-btn {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.nav-link {
    color: #870A3C;
    font-weight: lighter;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding-left: 40px;
}

.footer {
    background-color: #870A3C;
    padding: 5px;
    text-align: center;
    margin-top: 130px;
}

.footer h2 {
    font-size: 19px;
    color: #ffffff;
    margin: 0px;
}

.footer span {
    display: block;
    font-size: 12px;
    color: #888;
}


/* Media Query for screens below 786px */
@media screen and (max-width: 786px) {

    .container {
        padding: 40px 20px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        font-family: Roboto;
        background-color: #ffffff;
        border-radius: 8px;
        margin: 20px;
        padding: 20px;
    }

    .vl {
        border-left: 7px solid #870A3C;
        height: 100%;
        margin-right: 10px;
    }

    .card-heading {
        font-size: 25px;
        font-weight: bold;
        margin: 10px 0;
    }

    .card-heading1 {
        font-size: 25px;
        font-weight: bold;
        color: #870A3C;
        margin: 10px 0;
    }

    .scroll-up-btn {
        position: static;
        margin-bottom: 20px;
        margin-right: 200px;
    }

    .nav-link {
        color: #870A3C;
        font-weight: lighter;
        text-decoration: none;
        display: flex;
        margin-bottom: 10px;
    }


    .footer {
        background-color: #870A3C;
        padding: 20px;
        text-align: center;
    }


    .footer h2 {
        font-size: 16px;
        color: #ffffff;
        margin: 0px;
    }

    .footer span {
        display: block;
        font-size: 12px;
        color: #888;
    }
}