<!-- eslint-disable prettier/prettier -->
<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="vl">
                <h2 class="card-heading1">Simplisave</h2>
            </div>
        </div>
        <div class="card">
            <div class="vl">
                <h2 class="card-heading">Useful links</h2>
            </div>
            <h3><a class="nav-link" routerLink="/about" routerLinkActive="active">About us</a></h3>
            <h3><a class="nav-link" routerLink="/login" routerLinkActive="active">Sign-in</a></h3>
            <h3><a class="nav-link" routerLink="/about" routerLinkActive="active">Privacy policy</a></h3>
            <h3><a class="nav-link" routerLink="/Privacy" routerLinkActive="active">Terms and conditions</a></h3>
        </div>
        <div class="card">
            <div class="vl">
                <h2 class="card-heading">Connect with us</h2>
            </div>
            <h3><a class="nav-link" routerLink="/register" routerLinkActive="active">Create an account</a></h3>
            <h3><a class="nav-link" routerLink="/help me" routerLinkActive="active">Help me</a></h3>
        </div>
    </div>
</div>
<br><br><br>
<div class="footer">
    <span><h2>Copyright @ 2023 | Made by Simplisave</h2></span>
</div>

