.container {
    padding-top: 40px;
}

.card-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.card {
    background-color: white;
    border-radius: 8px;
    margin-top: 250px;
    padding-left: 90px;
    width: 100%;
    border-style: none;
}

.vl {
    border-left: 7px solid var(--primary-color);
    padding-left: 30px;
}


.card-heading {
    font-size: 2.0vw;
    font-weight: var(--bold);
    margin: 10px 0;
}

.card-heading1 {
    font-size: var(--font-xx-large);
    font-weight: var(--bold);
    color: var(--primary-color);
    margin: 10px 0;
}

.scroll-up-btn {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.nav-link {
    color: var(--primary-color);
    font-weight: lighter;
    font-size: var(--font-large);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding-left: 40px;
}

.footer {
    background-color: var(--primary-color);
    padding: 5px;
    text-align: center;
    margin-top: 130px;
}

.footer h2 {
    font-size: var(--font-medium);
    color: white;
    margin: 0px;
}

.footer span {
    display: block;
    font-size: var(--font-x-small);
}

.accordion{
    display: none;
}


/* Media Query for screens below 786px */
@media screen and (max-width: 786px) {

    .container {
        padding: 40px 20px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        background-color: white;
        border-radius: 8px;
        margin: 20px;
        padding: 20px;
    }

    .vl {
        border-left: 7px solid var(--primary-color);
        height: 100%;
        margin-right: 10px;
    }

    .card-heading {
        font-size: var(--font-large);
        font-weight: var(--bold);
        margin: 10px 0;
    }

    .card-heading1 {
        font-size: var(--font-x-large);
        font-weight: var(--bold);
        color: var(--primary-color);
        margin: 10px 0;
    }

    .scroll-up-btn {
        position: static;
    }

    .nav-link {
        color: var(--primary-color);
        font-weight: var(--light-font);
        font-size: var(--font-medium);
        text-decoration: none;
        display: flex;
        margin-bottom: 10px;
    }


    .footer {
        background-color: var(--primary-color);
        padding: 20px;
        text-align: center;
    }


    .footer h2 {
        font-size: var(--font-normal);
        color: white;
        margin: 0px;
    }

    .footer span {
        display: block;
        font-size: var(--font-x-small);
    }

    /* .accordion{
        display: flex;
        width: auto !important;
    }

    .accordion-item{
        
    }

    .accordion-header{

    } */

}

@media screen and (max-width: 480px) {
    .container {
        padding: 40px 20px;
    }

    .card-container {
        display: none;
        flex-wrap: wrap;
    }

    .card {
        background-color: white;
        border-radius: 8px;
        margin: 20px;
        padding: 20px;
    }

    .vl {
        border-left: 7px solid var(--primary-color);
        height: 100%;
        margin-right: 10px;
    }

    .card-heading {
        font-size: var(--font-medium);
        font-weight: var(--bold);
        margin: 10px 0;
    }

    .card-heading1 {
        font-size: var(--font-large);
        font-weight: var(--bold);
        color: var(--primary-color);
        margin: 10px 0;
    }

    .scroll-up-btn {
        position: static;
    }

    .nav-link {
        color: var(--primary-color);
        font-weight: var(--light-font);
        font-size: var(--font-medium);
        text-decoration: none;
        display: flex;
        margin-bottom: 10px;
    }


    .footer {
        background-color: var(--primary-color);
        padding: var(--font-medium);
        text-align: center;
    }


    .footer h2 {
        font-size: var(--font-normal);
        color: white;
        margin: 0px;
    }

    .footer span {
        display: block;
        font-size: var(--font-x-small);
    }

    .accordion{
        display: flex;
        align-items: center;
        justify-content: center;
        
        /* width: auto !important; */
    }

    .accordion-item{
        
    }

    .accordion-header{
        
    }

   .accordion-button{
    font-size: 12px;
    color: #ffffff;
    background-color: #870A3C;
   }
}