<!-- eslint-disable prettier/prettier -->
<nav class="navbar navbar-expand-lg" style="background-color: #870A3C; font-family: 'Lato'; font-size: 20px">
    <a class="navbar-brand" href="#">
        <img src="\assets\logo-no-background 9.png" alt="Simplisave Logo" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto white-text spaced-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../../pages/" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../../pages/learn" routerLinkActive="active">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../../pages/accounts" routerLinkActive="active">Accounts</a>
            </li>
        </ul>
        <ul class=" navbar-nav white-text">
            <li class="nav-item">
                <a class="nav-link" routerLink="../../pages/auth/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../../pages/auth/register" routerLinkActive="active">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>