.navbar-nav {
    margin-left: 400px;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  
  .img-fluid{
    margin-left: 10px;
  }
  
 
  
  .mobile-only{
    display: none;
  }
  
  /* Media query for mobile devices */
   @media (max-width: 780px) {
      .img-fluid {
        max-width: 70%;
        min-width: auto;
      }
  
      .navbar-nav {
        margin-left: 0px; 
        padding-left: 20px;
        display: flex;
        align-items: left;
        justify-content: left;
        height: 50vh;
       }
      
  
      .mobile-only {
        display: flex;
      }
  
      hr {
        border: 1px solid #ffffff;
      }
      
    }
  