<!-- eslint-disable prettier/prettier -->
<nav class="navbar navbar-expand-lg" style="background-color: #870A3C; font-family: 'Lato'; font-size: 20px">
  <a class="navbar-brand" href="#">
    <img src="/assets/Icons/Screenshot_2023-07-18_at_09.13.14-removebg-preview (1).png" alt="Simplisave Logo"
      class="img-fluid" width="65px">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto white-text spaced-nav">
      <hr>
      <li class="nav-item hide-on-desktop">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"><img class="sideBarPic1" src="/assets/Icons/dashboardpic.png">Dashboard</a>
      </li>
      <hr>
      <!-- <hr class="hide-on-desktop"> -->
      <li class="nav-item hide-on-desktop">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"><img class="sideBarPic2" style="height: 37px;width: 37px;" src="/assets/Icons/Transactionspic.png">Transactions</a>
      </li>
      <hr>
      <!-- <hr class="hide-on-desktop"> -->
      <!-- Add other nav-items that you want to hide on desktop with the class "hide-on-desktop" -->
      <!-- <hr class="hide-on-desktop"> -->
      <li class="nav-item hide-on-desktop">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"><img class="sideBarPic" src="/assets/Icons/Managepic.png">Manage</a>
      </li>
      <hr class="hide-on-desktop">

      
      <li class="nav-item hide-on-desktop">
        <br><br><br><br><br><br><br><br><br><br><br>
        <a class="nav-link" routerLink="" routerLinkActive="active"><img src="/assets/Icons/Logout.png" alt=""
          class="img-fluid" width="25px" routerLink="">Logout</a>
      </li>
      <!-- <hr class="hide-on-desktop"> -->
    </ul>


  </div>
</nav>
