<!-- eslint-disable prettier/prettier -->
<!-- expense-modal.component.html -->
<h2 mat-dialog-title>Edit Monthly Expense Allocation</h2>
<mat-dialog-content>
  <form [formGroup]="expenseForm" (ngSubmit)="updateExpensePage()">
    <div class="form-group">
      <label for="categoryName">Category Name</label>
      <input matInput placeholder="Field 1" formControlName="categoryName" name="amount" [(ngModel)]="formData.name"><br>
      <mat-error class="error-message" *ngIf="shouldShowError('categoryName', 'required')">Category Name is required</mat-error>
      <mat-error class="error-message" *ngIf="shouldShowError('categoryName', 'maxlength')">Category Name cannot exceed 10 characters</mat-error>
      <mat-error class="error-message" *ngIf="shouldShowError('categoryName', 'pattern')">Category Name can only contain letters and spaces</mat-error>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input matInput placeholder="Field 2" formControlName="amount" name="categoryName" [(ngModel)]="formData.amount"><br>
      <mat-error class="error-message" *ngIf="shouldShowError('amount', 'required')">Amount is required</mat-error>
      <mat-error class="error-message" *ngIf="shouldShowError('amount', 'pattern')">Amount can only contain numbers</mat-error>
    </div>
    <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button type="submit" [disabled]="!expenseForm.valid">Save</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  

