/* expense-modal.component.css */
:host ::ng-deep .mat-dialog-container {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    background-color: white;
    max-width: 400px;
  }
  
  :host ::ng-deep .mat-dialog-title {
    font-size:  var(--font-x-large);
    font-weight:  var(--semi-bold);
    margin-bottom: 20px;
  }
  
  :host ::ng-deep .mat-dialog-content {
    margin-bottom: 20px;
  }
  
  :host ::ng-deep .form-group {
    margin-bottom: 15px;
  }
  
  :host ::ng-deep label {
    display: block;
    font-weight:  var(--semi-bold);
    margin-bottom: 5px;
  }
  
  :host ::ng-deep input[type='text'],
  :host ::ng-deep input[type='number'] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size:  var(--font-normal);
  }
  
  :host ::ng-deep .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  :host ::ng-deep button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size:  var(--font-normal);
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: var(--primary-color);
  }

 
  .error-message {
    font-size:  var(--font-x-small);; /* Set the font size to your desired value */
    color: red; /* Set the color for the error message */
    margin-top: 5px; /* Add some margin above the error message */
  }