<!-- eslint-disable prettier/prettier -->
  <h2 mat-dialog-title>Edit Savings Goal</h2>
<mat-dialog-content>
  <form [formGroup]="goalForm" (ngSubmit)="saveGoal()">
    <div class="form-group">
      <label for="amount">Amount</label>
      <input matInput placeholder="Field 2" formControlName="amount" [(ngModel)]="formData.amount"><br>
      <mat-error class="error-message" *ngIf="shouldShowError('amount', 'required')">Amount is required</mat-error>
      <mat-error class="error-message" *ngIf="shouldShowError('amount', 'pattern')">Amount can only contain numbers</mat-error>
    </div>
    <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button type="submit" [disabled]="!goalForm.valid">Save</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
