.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 77vh !important;
    margin-top: 0vh;
    background-image: url('/assets/Images/Landing/Frame 629341.png');
    background-size: cover;
    background-position: bottom;
    color: white;
}

.banner-heading {
    font-Size: 60px;
    letter-spacing: -0.5%;
    max-width: 70%;
    text-align: left;
    margin-top: 30px;
    margin-left: 10%;
}