
.example-spacer {
    flex: 1 1 auto;
  }
  .table{
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1248px;
    padding-bottom: 50px;
  }
  mat-toolbar{
    background-color: #AF144B;
    color: #ffff;
  }
  h1{
    color: #AF144B;
    text-align: center;
    padding-top: 50px;
  }
  /* Media query for screens up to 320px wide */
@media (max-width: 320px) {
  .table-container {
    overflow-x: auto;
  }

  .responsive-table {
    width: 100%;
  }

  .responsive-table th,
  .responsive-table td {
    padding: 4px;
    text-align: left;
    font-size: 12px;
  }

  

  .responsive-table th {
    background-color: #f8f1f1;
    font-weight: bold;
  }

  .responsive-table td:before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 5px;
  }

  /* Adjust paginator styles */
  .mat-paginator {
    display: flex;
    justify-content: center;
  }
}
