<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>

<h1>Hello Admin</h1>

<form class="form-inline search-form">
    <div class="search-container">
      <input class="form-control search-input" type="search" placeholder="Search">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </form>
  <div class="container shadow p-3 mb-5 bg-red rounded">
<table class="table table-responsive-md">
    <thead>
      <tr>
        <th scope="col">Students</th>
        <th scope="col">Bursary</th> 
        <th scope="col">Allowance</th>
        <th scope="col">Year</th>
        <th scope="col" class="hide-on-mobile">Month</th> 
        <th scope="col" class="hide-on-mobile">Edit</th> 
        
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Moe Salah</th>
            <td>NSFAS</td>
            <td>1500</td>
            <td>1st year</td>
            <td class="hide-on-mobile">April</td>
            <td class="hide-on-mobile"><mat-icon>delete</mat-icon> <mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">Moe Salah</th>
            <td>NSFAS</td>
            <td>1500</td>
            <td>1st year</td>
            <td class="hide-on-mobile">April</td>
            <td class="hide-on-mobile"><mat-icon>delete</mat-icon> <mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">Moe Salah</th>
            <td>NSFAS</td>
            <td>1500</td>
            <td>1st year</td>
            <td class="hide-on-mobile">April</td>
            <td class="hide-on-mobile"><mat-icon>delete</mat-icon> <mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">Moe Salah</th>
            <td>NSFAS</td>
            <td>1500</td>
            <td>1st year</td>
            <td class="hide-on-mobile">April</td>
            <td class="hide-on-mobile"><mat-icon>delete</mat-icon> <mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">Moe Salah</th>
            <td>NSFAS</td>
            <td>1500</td>
            <td>1st year</td>
            <td class="hide-on-mobile">April</td>
            <td class="hide-on-mobile"><mat-icon>delete</mat-icon> <mat-icon>create</mat-icon></td>
          </tr>

      <tr>
        <th scope="row"> <button mat-button color="primary">Previous</button></th>

       
        <td></td>
        <td>Page 1 of 10</td>
        <td></td>
        <td></td>
        
        <td > <button mat-button color="primary">Next</button></td>
        
      </tr> 
      
    </tbody>
  </table>
</div>

