<app-navbar></app-navbar>

<div class="outerDiv">
  <div class="banner">
    <h1 class="banner-heading" style="color: white;">Privacy Policy</h1>
  </div>
  <div class="outerBottomPart">
  <div class="bottomPart">
    <div class="section">

    <h2 style=" margin: 0;margin-top: 10%;">Introduction</h2>
    <br>
    <p>Welcome to SimpliSave's Privacy Policy. We are committed to safeguarding your personal information and ensuring your privacy when you use our application. This policy outlines how we collect, use, and protect your data to provide you with the best possible experience.</p>
</div>
<div class="section">
    <h2>Information We Collect</h2>
    <h3>Account Information</h3>
    <p>When you sign up for SimpliSave, we collect the essential information necessary to create and manage your account. This includes your full name, email address, and details about your linked bank account. Rest assured, your sensitive information is encrypted and stored securely. </p>
     <h3>Transaction Data</h3>  
     <p>To offer you personalized insights and advice, we securely access and analyze your transaction data. This data helps us categorize your spending, identify trends, and provide recommendations for improving your financial habits.</p> 
   <h3>Communication</h3>
   <p>When you interact with our customer support team or provide feedback, we collect the information you share to assist you effectively. This helps us address your inquiries and continuously improve our services based on your input.</p>
</div>
<div class="section">
   <h2>How We Use Your Information</h2>
   <h3>Providing Services</h3>
   <p>The information we collect is crucial for delivering our core services. We use your account and transaction data to offer accurate financial tracking, set up your savings account, and provide you with personalized financial advice.</p>
   <h3>Personalization</h3>
   <p>By analyzing your spending patterns and financial behavior, we tailor our recommendations to your unique situation. This includes suggesting saving strategies, offering budgeting tips, and alerting you to potential cost-saving opportunities.</p>
   <h3>Legal Compliance</h3>
   <p>We may use your data to fulfill our legal obligations, such as complying with anti-money laundering regulations and preventing fraudulent activities. Rest assured that your data is handled with the utmost care and confidentiality.</p>
</div>
<div class="section">
   <h2>Data Security</h2>
   <p>We prioritize the security of your information. Our application employs state-of-the-art encryption techniques and security measures to ensure that your data is protected against unauthorized access, breaches, or data leaks.</p>
</div>
<div class="section">
   <h2>Third-Party Sharing</h2>
   <h3>Banking Partners</h3>
   <p>We collaborate with banking partners to provide you with our services. In this context, we may share anonymized transaction data to facilitate the analysis and insights we offer. Your personal information is always safeguarded.</p>
   <h3>Service Providers</h3>
   <p>We engage trusted third-party service providers to assist with analytics, customer support, and other operational aspects. These providers are held to strict confidentiality agreements and are authorized to use your data solely for specified purposes.</p>
</div>
<div class="section">
   <h2>Your Choices</h2>
   <h3>Account Settings</h3>
   <p>You have control over the information you share with us. In your account settings, you can manage your personal details, update your preferences, and choose the level of data you're comfortable sharing.</p>
   <h3>Opt-Out</h3>
   <p>You have the option to opt out of certain data collection and communication activities. However, please note that this might affect the accuracy and relevance of the insights and advice we provide.</p>
</div>
<div class="section">
   <h2>Changes to this Policy</h2>
   <p>We may update this policy to align with changes in our services or to adhere to evolving legal requirements. We encourage you to review this policy periodically to stay informed about how we handle your data.</p>
</div>
<div class="section">
   <h2>Contact Us</h2>
   <p>If you have any questions, concerns, or inquiries regarding our Privacy Policy, please feel free to reach out to our dedicated support team at privacy@simplisave.com. We're here to assist you.</p>
</div>
  </div>
</div>
<app-footer></app-footer>
</div>



