<app-second-nav-bar></app-second-nav-bar>
<div class="outerDiv" *ngIf="userInfo">
  <div class="banner">
    <h1 class="banner-heading" style="color: white;">Profile</h1>
  </div>
  <div class="bottomPart">
    <div class="overview">
      <h2 class="overview-heading">Student</h2>
      <label for="imageInput">
        <img class="image" [src]="selectedImageFile ? getImageUrl(selectedImageFile) : './assets/Images/Profile/Profile icon.png'" alt="Profile Image" width="120" height="150" style="cursor: pointer;">
      </label>
      <input type="file" (change)="onImageInputChange($event)" accept="image/*" id="imageInput" style="display: none;">
      <h2 class="overview-heading">{{ userInfo.firstName}}</h2>
    </div>
    <div class="line"></div>
    <div class="basicInfo">
<!--       <ng-container *ngIf="activeForm === 'form1'; else form2"> -->
        <form class="basicInfo-form" [formGroup]="basicInfoForm" (ngSubmit)="updateUserInfo()">
          <nav>
            <ul>
              <li><a [class.active]="activeForm === 'form1'"(click)="showForm('form1')">Information</a></li>
              <!-- <li><a (click)="showForm('form2')">Password</a></li> -->
            </ul>
          </nav>
          <hr>
          <!-- Information Form -->
          <div class="form-row1">
            <div class="form-field1">
              <label for="firstName">First Name:</label>
              <div class="input-container">
                <input type="text" id="firstName" name="firstName" formControlName="firstName" required>
                <div class="error-message" *ngIf="basicInfoForm.get('firstName')?.hasError('pattern') && (basicInfoForm.get('firstName')?.dirty || basicInfoForm.get('firstName')?.touched)">Invalid format</div>
              </div>
            </div>
            <div class="form-field1">
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" name="lastName" formControlName="lastName" required>
            </div>
          </div>
          <div class="form-row1">
            <div class="form-field1">
              <label for="cellphoneNumber">Cellphone:</label>
              <div class="input-container">
                <input type="tel" id="cellphoneNumber" name="cellphoneNumber" formControlName="cellphoneNumber" required>
                <div class="error-message" *ngIf="basicInfoForm.get('cellphoneNumber')?.hasError('pattern') && (basicInfoForm.get('cellphoneNumber')?.dirty || basicInfoForm.get('cellphoneNumber')?.touched)">Invalid format</div>
              </div>
            </div>
            <div class="form-field1">
              <label for="email">Email:</label>
              <div class="input-container">
                <input type="email" id="email" name="email" formControlName="email" required>
                <div class="error-message" *ngIf="basicInfoForm.get('email')?.hasError('email') && (basicInfoForm.get('email')?.dirty || basicInfoForm.get('email')?.touched)">Invalid format</div>
              </div>
            </div>
          </div>

          
          <div class="form-row">
            <div class="form-field">
              <label for="idNo">ID Number:</label>
              <div class="input-container1">
                <input type="text" id="idNo" name="idNo" formControlName="idNo" required>
                <div class="error-message" *ngIf="basicInfoForm.get('idNo')?.hasError('pattern') && (basicInfoForm.get('idNo')?.dirty || basicInfoForm.get('idNo')?.touched)">Invalid format</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field">
              <label for="accountNo">Account Number:</label>
              <div class="input-container1">
                <input type="text" id="accountNo" name="accountNo" formControlName="accountNo" [disabled]="true" required>
                <div class="error-message" *ngIf="basicInfoForm.get('accountNo')?.hasError('pattern') && (basicInfoForm.get('accountNo')?.dirty || basicInfoForm.get('accountNo')?.touched)">Invalid format</div>
              </div>
            </div>
          </div>
        <div class="form-row">
            <button class="save-button" type="submit" [disabled]="!basicInfoForm.valid">Save</button>
            <button class="cancel-button" type="button" routerLink="/dashboard">Cancel</button>
        </div>
        </form>
  <!--     </ng-container> -->

<!--       <ng-template #form2>
        <form class="password-form" [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
          <nav>
            <ul>
              <li><a [class.active]="activeForm === 'form1'" (click)="showForm('form1')">Information</a></li>
              <li><a [class.active]="activeForm === 'form2'" (click)="showForm('form2')">Password</a></li>
            </ul>
          </nav>
          <hr>
          <div class="form-row">
            <div class="form-field">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" formControlName="password" placeholder="********">
              <div class="error-message" *ngIf="basicInfoForm.get('password')?.hasError('pattern') && (basicInfoForm.get('password')?.dirty || basicInfoForm.get('password')?.touched)">Invalid format</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-field">
              <label for="newPassword">New Password:</label>
              <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" >
              <div class="error-message" *ngIf="basicInfoForm.get('newPassword')?.hasError('required') && (basicInfoForm.get('newPassword')?.dirty || basicInfoForm.get('newPassword')?.touched)">New Password is required.</div>
              <div class="error-message" *ngIf="basicInfoForm.get('newPassword')?.hasError('pattern') && (basicInfoForm.get('newPassword')?.dirty || basicInfoForm.get('newPassword')?.touched)">Invalid format for New Password.</div>
            </div>
          </div>

       
          <div class="form-row">
            <button class="save-button" type="submit" [disabled]="!passwordForm.valid">Save</button>
            <button class="cancel-button"  type="button" routerLink="/dashboard">Cancel</button>
          </div>
        </form>
      </ng-template> -->
    </div>
  </div>
</div>
