html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 67vh !important;  /* Updated height for better responsiveness */
  margin-top: 0vh;
  background-image: url('/assets/Icons/Frame 629341.png');
  background-size: cover;
  background-position: bottom;
  color: white;
}

.banner-heading {
  font-weight: Light;
  font-Size: 60px;
  letter-spacing: -0.5% ;
  max-width: 70%;
  text-align: left;
  margin-left: 10%; /*Updated margin for better responsiveness */
}

.banner-button {
  margin-top: 5%;
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  background-color: #870A3C;
  width: 20vw;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%; /* Updated margin for better responsiveness */
  font-size: 1.5rem;
  border-style: none;
}

/* Media Query for screens below 786px */
@media (max-width: 786px) {
  .banner-heading {
    max-width: 80%; /* Updated max-width for better responsiveness */
    font-size: 2rem; /* Default font size */
    font-weight: bold;
    text-align: left;
    margin-left: 7%;  /* Updated margin for better responsiveness */
  }

  .banner-button {
    width: auto;
    height: auto;
    font-size: 1.5rem; /* Default font size */
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 7%;  /* Updated margin for better responsiveness */
  }
}