body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-image: url("/assets/Stacked_coins_Background-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-title {
  font-family: lato;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top:150px;
  max-width: 80%;
  margin-left: 7%;
}

h1,
.btn {
  font-size: 2.5rem;
  font-family: roboto;
}

.btn {
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  background-color: #870A3C;
  width: 240px;
  height: 60px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .card-img-overlay {
    max-width: 90%;
  }
}

@media (max-width: 992px) {
  .card-title,
  .btn {
    font-size: 3rem;
    
  }

  .card-img-overlay {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .card-title,
  .btn {
    font-size: 2.5rem;
  }

  .btn {
    width: 250px;
    height: 60px;
    font-size: 2rem;
  }

  .card-img-overlay {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  .card-title,
  .btn {
    font-size: 2rem;
  }

  .btn {
    width: 200px;
    height: 50px;
    font-size: 1.8rem;
  }

  .card-img-overlay {
    padding-top: 20px;
  }
}

