<!-- eslint-disable prettier/prettier -->
<div class="header">
    <h1 class="heading">Other saving and investment options for students</h1>
  </div>
  <div class="container">
    <div class="card">
      <img src="./assets/Images/Accounts/tax-free.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tax free products</h5>
        <p class="card-text">Grow your allowance without having to pay tax while doing it.</p>
        <button class="btn btn-light" (click)="redirectToTaxFreePage()">More</button>
      </div>
    </div>
    <!-- <div class="card">
      <img src="/assets/Images/Landing/Spending_money_wallet.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Track expenses</h5>
        <p class="card-text">Set expense categories and monitor your progress as you spend.</p>
      </div>
    </div> -->
    <!-- <div class="card">
      <img src="/assets/Images/Landing/Savings_jar.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Saving goals</h5>
        <p class="card-text">Set savings goals and use our indicator to help you achive your goals.</p>
      </div>
    </div> -->
  </div>
