<!-- eslint-disable prettier/prettier -->
<div class="header">
    <h1 class="heading">Other saving and investment options for students</h1>
</div>
<div class="container">
    <div class="card">
        <img src="./assets/Images/Accounts/tax-free.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tax free products</h5>
            <p class="card-text">Grow your allowance without having to pay tax while doing it.</p>
            <button class="btn btn-light" (click)="redirectToTaxFreePage()">More</button>
        </div>
    </div>
    <div class="card">
        <img src="./assets/Images/Accounts/easy-access.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Easy access</h5>
            <p class="card-text">Withdraw your saved money anytime, no need for a notice.</p>
            <button class="btn btn-light" (click)="redirectToEasyAccessPage()">More</button>
        </div>
    </div>
    <div class="card">
        <img src="./assets/Images/Accounts/savings-plan.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Savings plan</h5>
            <p class="card-text">Save and gradually increase your funds overtime.</p>
            <button class="btn btn-light" (click)="redirectToSavingsPlanPage()">More</button>
        </div>
    </div>
    <div class="card">
        <img src="./assets/Images/Accounts/notice-deposit.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Notice deposit</h5>
            <p class="card-text">Set your own notice period and amount to be withdrawn.</p>
            <button class="btn btn-light" (click)="redirectToNoticeDepositPage()">More</button>
        </div>
    </div>
    <div class="card">
        <img src="./assets/Images/Accounts/unit-trust.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Unit trust</h5>
            <p class="card-text">Pooled investment, buy a share of the overall fund.</p>
            <button class="btn btn-light" (click)="redirectToUnitTrustPage()">More</button>
        </div>
    </div>
</div>