<div class="container text-center">
  <h2 mat-dialog-title>Transfer money to SimpliSave savings account</h2>
  <mat-dialog-content>
    <ng-container *ngIf="isGoalSet; else goalNotSetMessage">
      <form [formGroup]="transferForm" (ngSubmit)="transfer()">
        <div class="form-group">
          <label for="category">Amount to transfer (R)</label>
          <input matInput formControlName="amount" name="amount">
          <div *ngIf="transferForm.get('amount')?.invalid && (transferForm.get('amount')?.dirty || transferForm.get('amount')?.touched)">
            <mat-error *ngIf="transferForm.get('amount')?.errors?.['required']">Amount is required.</mat-error>
            <mat-error *ngIf="transferForm.get('amount')?.errors?.['min']">Amount must be greater than or equal to 0.</mat-error>
            <mat-error *ngIf="transferForm.get('amount')?.errors?.['pattern']">Invalid amount format.</mat-error>
          </div>
        </div>
        <button mat-button type="button" (click)="onNoClick()">Close</button>
            <button mat-button type="submit" style="margin-left: 2%;" >Save</button>
      </form>
    </ng-container>
    <ng-template #goalNotSetMessage>
      <p class="addGoalMessage">Please set a goal on the manage page before you can transfer money.</p>
      <mat-dialog-actions class="closeCenter"> <!-- Center-align the actions -->
        <button mat-button (click)="onNoClick()">Close</button>
      </mat-dialog-actions>
    </ng-template>
    
  </mat-dialog-content>
</div>
