.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Inconsolata;
  }

  .flex-item-left {
    background-color: #FFFFFF;
    align-self: center;
    flex: 40%;
  }
  
  .flex-item-right {
    background-color: #FFFFFF;
    align-self: center;
    flex: 60%;
  }

  .text-center{
    color: #AF144B;
  }

  .button{
    gap: 50px;
  }

  button{
    width: 30%;
  }

  mat-icon{
    color: gray;
  }
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #AF144B;; 
  }

  .btn{
    background-color: #AF144B;
    color: #FFFFFF;
  }

  input{
    border-bottom: 0.5px solid  #AF144B;
  }
  
  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-item-left {
        flex: 0%;
      }
      
      .flex-item-right {
        flex: -20%;
      }
  }
  @media screen and (max-width: 800px) {
    mat-vertical-stepper, mat-step{
      display: flex;
      flex-direction: row;
    }
    mat-vertical-stepper mat-step-header {
      flex: 1;
    }
  }