<div class="mask d-flex align-items-center h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-left h-100">
      <h1 class="title text-center mb-2 mt-5">Link your everyday bank account to your SimpliSave account.</h1>
      <h2 class="subtitle text-center mb-5 ">Link your account</h2>
      <div class="col-12 col-md-9 col-lg-7 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-3">
            <h3 class="create text-left mb-1">Your details are encrypted</h3>
            <h4 class="credentials mb-5">Enter your details below</h4>

            <form [formGroup]="step4FormGroup">

              <mat-form-field class="validation mb-4" appearance="outline">
                <mat-label>Account Number</mat-label>
                <input matInput type="number" class="form-control-plaintext" id="accountNo" placeholder="12345678" formControlName="accountNo" required />
                <mat-error *ngIf="step4FormGroup.get('accountNo')?.invalid">
                  Account Number is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="validation mb-4" appearance="outline">
                <mat-label>Pin</mat-label>
                <input matInput type="password" class="form-control-plaintext" id="pin" placeholder="*******" formControlName="pin" required />
                <mat-error *ngIf="step4FormGroup.get('pin')?.invalid">
                  Pin is required.
                </mat-error>
              </mat-form-field>

              <div class="buttons text-center">
                <button class="btn text-center mb-2" mat-button matStepperPrevious>Previous</button>

                <button class="btn text-center mb-2" mat-button matStepperNext>Next</button>

              </div>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
