<div class="flex-container">
    
    <div class="flex-item-right">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

              <p class="text-center h4  mb-5 mx-1 mx-md-4 mt-4">Hey User! Please choose
                a password for your 
               SimpliSave account..</p>

              <form class="mx-1 mx-md-10">

                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>lock</mat-icon>
                        <input type="password"  class="form-control-plaintext" id="name" placeholder="     Password">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>lock</mat-icon>
                      <input type="password"  class="form-control-plaintext" id="email" placeholder="     Confirm Password">
                    </div>
                </div>

              </form>

            </div>
        </div>
    </div>
</div>