<!-- <app-second-nav-bar></app-second-nav-bar>

<div class="transaction-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>  

  <div class="main-content">
    <div class="balance-summary">
     <app-balance-summary></app-balance-summary>
    </div>

    <div class="expense-part">
      <app-transaction-details></app-transaction-details>
    </div>
  </div>
</div>  

<div class="footer">
  <span><h2>Copyright @ 2023 | Made by Simplisave</h2></span>
</div> -->


<form [formGroup]="searchForm" class="search__form"> 
  <mat-form-field class="search__form_field" appearance="outline"> 
     <mat-label>Choose a date</mat-label> 
     <input matInput [matDatepicker]="picker" (dateInput)="handleDateSelection($event)"> 
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
     <mat-datepicker #picker></mat-datepicker> 
  </mat-form-field>
</form>

<main class="table" style="background-color: blueviolet;">
  <section class="table__body">
    <table>
      <ng-container *ngFor="let date of sortedDateKeys">
        <thead>
          <tr>
            <th colspan="3">
              <h5>{{ date }}</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let details of groupedTransactions[date]">
            <td>
              <div class="mobile-stack">
                <p class="date">{{ details.transactionDate }}</p>
              </div>
            </td>
            <td class="break-word-mobile">
              <div class="content-container">
                <img [src]="details.image" alt="">
                <p>{{ details.description }}</p>
              </div>
            </td>
            <td>
              <p [ngClass]="details.moneyOut ? 'amount cancelled' : 'amount received'">
                {{ details.moneyOut ? '- R ' + details.moneyOut + '.00' : '+ R ' + details.moneyIn + '.00' }}
              </p>
              <p class="stacked-date">{{ details.transactionDate }}</p>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </section>
</main>


 