<app-navbar></app-navbar>

<div class="banner">
    <h1 class="banner-heading">Ask Us anything</h1>
    <br>
    <h2>Have any questions? We're here to assist</h2>
    <br>
  

</div>


<div class="content">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
     
           <h5  class="card-subtitle mb-2 "> <mat-icon>help_outline</mat-icon>What is SimpliSave?</h5>
          
          <p class="card-text">SimpliSave is a mobile application designed specifically for 
            students who use bursaries. It provides them with a savings account where 
            they can save money or manage their monthly allowances effectively.
        </p>
       
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
         
          <h5 class="card-subtitle mb-2 "><mat-icon>description</mat-icon> Is SimpliSave free to use?</h5>
          <p class="card-text">Currently, SimpliSave is free to use. However, please note that we reserve the 
            right to introduce fees or charges in the future. If any such fees or charges are 
            introduced, you will be notified in advance.</p>
       
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-subtitle mb-2 "><mat-icon>privacy_tip</mat-icon>How secure is my account information?</h5>
          <p class="card-text">We take the security and privacy of your account information seriously. 
            We implement industry-standard security measures to protect your data. 
            However, it is important for you to maintain the confidentiality of your account
            redentials and notify us immediately of any unauthorized access or security breach.</p>
       
        </div>
      </div>
</div>

<div class="content">
       <div class="card" style="width: 18rem;">
        <div class="card-body">
     
          <h5 class="card-subtitle mb-2 "><mat-icon>supervisor_account</mat-icon>Can I access SimpliSave on multiple devices?</h5>
          <p class="card-text">Yes, you can access your SimpliSave account on multiple devices by logging in with your account credentials.
             However, please ensure that you maintain the security of your account information and follow 
             best practices for using the app on different devices.</p>
       
        </div>
      </div>

       <div class="card" style="width: 18rem;">
        <div class="card-body">
       
          <h5 class="card-subtitle mb-2 "><mat-icon>savings</mat-icon>Can I earn interest on SimpliSave</h5>
          <p class="card-text">SimpliSave primarily focuses on providing a convenient platform for managing your funds. 
            While we do not guarantee the availability of interest or any returns on your savings, 
            you can track your savings and expenses effectively using the app.</p>
       
        </div>
      </div>

         <div class="card" style="width: 18rem;">
        <div class="card-body">
          
          <h5 class="card-subtitle mb-2 "><mat-icon>get_app</mat-icon>How can I download the SimpliSave app?</h5>
          <p class="card-text">You can download the SimpliSave app from the official app store for your mobile device. Simply search for "SimpliSave" and follow the instructions to install the app.</p>
       
        </div>
      </div>
</div>

<!-- 
 <div class="card-content">
      <h5 class="card-title">Still have questions?</h5>
      <p class="card-text">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
      <a class="btn btn-primary">Get in touch</a>
    </div>  -->


   <app-footer></app-footer>