<div class="flex-container">
    <div class="flex-item-left">
        <img src="https://media.istockphoto.com/id/538505147/photo/south-african-currency.jpg?s=612x612&w=0&k=20&c=8uW74H5r0cXv_ES6m7qjALHfw_-t6h6tXTgZkUfrcaU=" class="moneyImg">
        </div>
    <div class="flex-item-right">
        <h1>First things first,</h1>
        <h1>you need to create</h1>
        <h1>a SimpliSave account.</h1>
        <button routerLink="/step1">
            Create Account
        </button>
    </div>
</div>
