
.background-container {
  position: relative;
  width: 100%; /* Adjust the width and height as needed */
  height: 100%;
}

.mainText{
  color: black;
}

.btn{
  background-color: #870A3C;
  color: white;
  border-radius: 20px;
  padding: 9px;
} 

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://media.istockphoto.com/id/538505147/photo/south-african-currency.jpg?s=612x612&w=0&k=20&c=8uW74H5r0cXv_ES6m7qjALHfw_-t6h6tXTgZkUfrcaU='); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Set the opacity to 50% */
}
