<app-navbar></app-navbar>

<div class="background-container">
    <div class="background-image"></div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-left">
    
                <h1 class="mainText mb-5">First things first, you need to create a SimpliSave account</h1>
    
                <h6 class="mainText mb-4">Already have an account? Login</h6>
    
    
                <button class="btn" type="submit" routerLink="/steps">Create Account</button>
    
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
