<!-- eslint-disable prettier/prettier -->
<app-navbar></app-navbar>

<div class="banner">
    <h1 class="banner-heading" style="color: white;">About Us</h1>

</div>
<div class="card-container">
    <div class="card-container-inner">
    <div class="content">
        <h2>Overview</h2>
        <p>Welcome to our platform dedicated to empowering individuals with the knowledge
            and skills needed to achieve financial literacy and independence.
            We believe that financial education is a fundamental pillar for personal and societal prosperity. Our
            mission is to provide accessible and comprehensive resources that enable people of
            all backgrounds to navigate the complex world of finance confidently.
            <br>
            <br>

            At Simplisave, we understand that financial literacy encompasses a wide range of topics,
            from basic money management to advanced investment strategies. Our team of experts has curated a
            wealth of educational content, tools, and interactive modules to cater to different levels of
            financial knowledge and goals.

            <br>
            <br>

            We strive to create an inclusive and supportive community where individuals can engage with one another,
            exchange ideas, and learn from shared experiences. We foster a non-judgmental environment
            where everyone is encouraged to ask questions, seek guidance, and grow their financial acumen without
            fear of stigma or shame.
        </p>
        <br>

        <h3>Key Features of Our Platform:</h3>
        <br>
        <p>Comprehensive Learning Resources: Our platform offers a diverse range of educational materials,
            including articles, videos, tutorials, and interactive courses. Whether you're a beginner looking
            to understand budgeting or an experienced investor aiming to expand your portfolio, we have resources
            tailored to your needs.</p>

    </div>
</div>
</div>


<app-footer></app-footer>