<!-- <div class="container">
  <div class="flex-container">
    <h1 class="heading">Account best suited for students</h1>
    <div class="card-container">
      <div class="card">
        <canvas id="chartCanvas2" matTooltip="Savings Comparison Table: R300/month for 3 years (Savings Account) vs. R300/month for 3 years (Regular Savings)" matTooltipPosition="right" ></canvas>
      </div>
    </div>
    <div class="bottomContent">
      <p class="bottomParagraph">For students, the Tax-Free Savings Account is the best option, offering tax-free growth and easy access to money. The Tax-Free ETF Savings Account is also worth considering if the student wants to invest in exchange-traded funds, depending on their risk tolerance.</p>
    </div>
  </div>
</div> -->
<div class="outer-container">
<div class="container">
  <div class="flex-container">
    <h1 class="heading">Account best suited for students</h1>
    <div class="card1">
      <p class="card-explanation">The table compares interest earned in three years, earning 8.0% interest compounded annually, starting with R1000 and R300 monthly: tax-free savings account vs if an individual was taxed.</p>
    </div>
    <div class="card-container">
      <div class="cardInfo">
      <div class="card">
        <canvas id="chartCanvas2"></canvas>
      </div>
    
    <div class="bottomContent">
      <p class="bottomParagraph">For students, the Tax-Free Savings Account is ideal for tax-free growth and easy access to money. The Tax-Free ETF Savings Account is a good option for investing in exchange-traded funds, depending on their risk tolerance.</p>
    </div>
  </div>
    <div class="button-container">
      <button mat-button matStepperPrevious class="custom-button">Previous</button>
      <button mat-button matStepperNext class="custom-button">Next</button>
    </div>
  </div>
  </div>
</div>
</div>