<!-- eslint-disable prettier/prettier -->
<app-navbar></app-navbar>
<div class="banner">
    <h1 class="banner-heading">Saving accounts and investment options</h1>
</div>
<div class="container">
    <div class="flex-container">
        <h1 class="heading">Other saving and investment options for students</h1>
        <div class="card-container">
            <div class="card">
                <img src="./assets/Icons/tax-free.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Tax free products</h2>
                <p class="card-explanation"> Grow your allowance without having to pay tax while doing it.</p>
                <button class="btn btn-info" (click)="redirectToTaxFreePage()">More</button>
            </div>
            <div class="card">
                <img src="./assets/Icons/easy-access.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Easy access</h2>
                <p class="card-explanation"> Withdraw your saved money anytime, no need for a notice.</p>
                <button class="btn btn-info" (click)="redirectToEasyAccessPage()">More</button>
            </div>
            <div class="card">
                <img src="./assets/Icons/savings-plan.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Savings plan</h2>
                <p class="card-explanation"> Save and accumulate your funds overtime.</p>
                <button class="btn btn-info" (click)="redirectToSavingsPlanPage()">More</button>
            </div>
            <div class="card">
                <img src="./assets/Icons/notice-deposit.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Notice deposit</h2>
                <p class="card-explanation"> Set your own notice period and amount to be withdrawn.</p>
                <button class="btn btn-info" (click)="redirectToNoticeDepositPage()">More</button>
            </div>
            <div class="card">
                <img src="./assets/Icons/unit-trust.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Unit trust</h2>
                <p class="card-explanation">Pooled investment, buy a share of the overall fund.</p>
                <button class="btn btn-info" (click)="redirectToUnitTrustPage()">More</button>
            </div>
        </div>
    </div>
</div>