<!-- eslint-disable prettier/prettier -->
<app-navbar></app-navbar>
<app-accounts-banner></app-accounts-banner>
<app-accounts-savings-and-investments></app-accounts-savings-and-investments>
<!-- <div class="container">
    <div class="flex-container">
        <div class="header">
        </div>
        <h1 class="heading">Other saving and investment options for students</h1>
        <div class="card-container">
            <div class="card">
                    <img src="./assets/Images/Accounts/tax-free.png" alt="Card Image" height="55px" class="card-image">
                    <h2 class="card-heading">Tax free products</h2>
                    <p class="card-explanation"> Grow your allowance without having to pay tax while doing it.</p>
                    <button class="btn btn-light" (click)="redirectToTaxFreePage()">More</button>
            </div>
            <div class="card">
              
                <img src="./assets/Images/Accounts/easy-access.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Easy access</h2>
                <p class="card-explanation"> Withdraw your saved money anytime, no need for a notice.</p>
                <button class="btn btn-light" (click)="redirectToEasyAccessPage()">More</button>
             
            </div>
            <div class="card">
                
                    <img src="./assets/Images/Accounts/savings-plan.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Savings plan</h2>
                <p class="card-explanation"> Save and gradually increase your funds overtime.</p>
                <button class="btn btn-light" (click)="redirectToSavingsPlanPage()">More</button>
                
            </div>
            <div class="card">
               
                <img src="./assets/Images/Accounts/notice-deposit.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Notice deposit</h2>
                <p class="card-explanation"> Set your own notice period and amount to be withdrawn.</p>
                <button class="btn btn-light" (click)="redirectToNoticeDepositPage()">More</button>
              
            </div>
            <div class="card">
             
                <img src="./assets/Images/Accounts/unit-trust.png" alt="Card Image" class="card-image">
                <h2 class="card-heading">Unit trust</h2>
                <p class="card-explanation">Pooled investment, buy a share of the overall fund.</p>
                <button class="btn btn-light" (click)="redirectToUnitTrustPage()">More</button>
            
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>
