.create{
  color: #870A3C;
  font-weight: bold;
  font-size: larger;
}

.credentials{
  color: black;
  font-size: small;
}

.title{
    color: #870A3C;
    font-weight: bold;
    font-size: x-large;
}

.subtitle{
  font-size: small;
}

p{
  font-size: small;
}

 button{
  width: 30%;
}

.validation{
  width: 100%;
  font-size: small;
  
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #870A3C;; 
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color:#870A3C;; 
}

.btn{
  background-color: #870A3C;
  border-radius: 20px;
  margin-left: 30px;
}

.mat-mdc-button:not(:disabled) {
  color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-label .mat-placeholder {
  font-size: xx-small !important;

}

u{
  color: #870A3C;
}

mat-label{
  font-size: small ;
}

