<div class="flex-container">
   
    <div class="flex-item-right">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

              <p class="text-center h4  mb-5 mx-1 mx-md-4 mt-4">Welcome to SimpliSave! 
                We'd like to know more about you...</p>

              <form class="mx-1 mx-md-10">

                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>person</mat-icon>
                        <input type="text"  class="form-control-plaintext" id="name" placeholder="     What is your full name?">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>mailbox</mat-icon>
                      <input type="email"  class="form-control-plaintext" id="email" placeholder="     What is your current email address?">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>smartphone</mat-icon>
                      <input type="text"  class="form-control-plaintext" id="phone" placeholder="     What number can we use to contact you?">
                    </div>
                </div>                

              </form>

            </div>
        </div>
    </div>
</div>