<div class="flex-container">
  <div class="flex-item-right">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

        <h1 class="text-center h4 mb-5 mx-1 mx-md-4 mt-4">Welcome to SimpliSave!
          We'd like to know more about you...</h1>

        <form [formGroup]="step1FormGroup" class="mx-1 mx-md-10">

          <div class="form-group row justify-content-center">
            <div class="d-flex col-sm-10">
              <mat-icon>person</mat-icon>
              <mat-form-field class="validation" appearance="outline">
              <input matInput type="text" class="form-control-plaintext" id="name" placeholder="What is your full name?" formControlName="name" required />
              <mat-error *ngIf="step1FormGroup.get('name')?.invalid">
                Name is required.
              </mat-error>
            </mat-form-field>
            </div>
          </div>
          <br>
          <br>
          <div class="form-group row justify-content-center">
            <div class="d-flex col-sm-10">
              <mat-icon>mailbox</mat-icon>
              <mat-form-field class="validation" appearance="outline">
              <input matInput type="email" class="form-control-plaintext" id="email" placeholder="What is your current email address?" formControlName="email" required />
              <mat-error *ngIf="step1FormGroup.get('email')?.invalid">
                Email is required.
              </mat-error>
            </mat-form-field>

            </div>
          </div>
          <br>
          <br>
          <div class="form-group row justify-content-center">
            <div class="d-flex col-sm-10">
              <mat-icon>smartphone</mat-icon>
              <mat-form-field class="validation" appearance="outline">
              <input matInput type="text" class="form-control-plaintext" id="phone" placeholder="What number can we use to contact you?" formControlName="phone" required />
              <mat-error *ngIf="step1FormGroup.get('phone')?.invalid">
                Phone Number is required.
              </mat-error>
            </mat-form-field>

            </div>
          </div>

        </form>
        <br />
        <br />

      </div>
    </div>
  </div>
</div>
