

 .flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Inconsolata;
  }

  .flex-item-left {
    background-color: #FFFFFF;
    flex: 40%;
  }
  
  .flex-item-right {
    background-color: #FFFFFF;
    padding: 20px;
    flex: 60%;
  }

  .text-center{
    color: #AF144B;
  }

  mat-icon{
    color: gray;
  }
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #AF144B;; 
  }

  .btn{
    background-color: #AF144B;
    color: #FFFFFF;
  }

  input{
    border-bottom: 0.5px solid  #AF144B;
  }
  
  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }