<div class="flex-container">
    <div class="flex-item-left">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-4 order-2 order-lg-1">
                <mat-vertical-stepper labelPosition="bottom" linear #stepper>
                    <mat-step label="Step 1" completed="true">
                        <p>Personal Details</p>
                    </mat-step>
                    <mat-step label="Step 2" completed="false">
                        <p>Confirm Password</p>
                    </mat-step>
                    <mat-step label="Step 3" completed="false">
                        <p>Confirm Account</p>
                    </mat-step>
                    <mat-step label="Step 4" completed="false">
                        <p>Link Account</p>
                    </mat-step>
                    <mat-step label="Step 5" completed="false">
                        <p>Confirm Link</p>
                    </mat-step>
                    <mat-step label="Step 6" completed="false">
                        <p>Savings Account</p>
                    </mat-step>
                    <mat-step label="Step 7" completed="false">
                        <p>Upload Documents</p>
                    </mat-step>
                    <mat-step label="Step 8" completed="false">
                        <p>Confirm Account</p>
                    </mat-step>
                </mat-vertical-stepper>
            </div>
        </div>
    </div>
    <div class="flex-item-right">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

              <p class="text-center h4  mb-5 mx-1 mx-md-4 mt-4">Welcome to SimpliSave! 
                We'd like to know more about you...</p>

              <form class="mx-1 mx-md-10">

                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>person</mat-icon>
                        <input type="text"  class="form-control-plaintext" id="name" placeholder="     What is your full name?">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>mailbox</mat-icon>
                      <input type="email"  class="form-control-plaintext" id="email" placeholder="     What is your current email address?">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="d-flex col-sm-10">
                        <mat-icon>smartphone</mat-icon>
                      <input type="text"  class="form-control-plaintext" id="phone" placeholder="     What number can we use to contact you?">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="button" class="btn btn-md">Next</button>
                </div>

              </form>

            </div>
        </div>
    </div>
</div>