.expense-container{
  display: flex;
  flex-direction: row;

}

.main-content{
  margin-left: 2%;
}

/* Footer css */
.footer {
  background-color: var(--primary-color);
  text-align: center;
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer h2 {
  font-size: var(--font-normal);
  color: white;
}

.footer span {
  display: block;
  font-size: var(--font-x-small);
}

@media screen and (max-width: 480px) {
  .expense-container{
    display: block;
  }
  
  .main-content{
    margin-left: 0%;
  }
}