<div class="container">
    <div class="flex-container">
      <h1 class="heading">Tax-free savings account offered by SimpliSave</h1>
      <div class="card-container">
        <div class="card">
          <img src="./assets/Icons/Expense track2.png" alt="Card Image" class="card-image">
          <h2 class="card-heading">Expense tracking</h2>
        </div>
        <div class="card">
          <img src="./assets/Icons/target2.png" alt="Card Image" class="card-image">
          <h2 class="card-heading">Saving targets</h2>
        </div>
        <div class="card">
          <img src="./assets/Icons/tax-free2.png" alt="Card Image" class="card-image">
          <h2 class="card-heading">Tax-free</h2>
        </div>
      </div>
      <div class="bottomContent">
        <p class="bottomParagraph">For a student, the Tax-Free Savings Account is the most suitable option as it allows tax-free growth on savings and immediate access to money. The Tax-Free ETF Savings Account could also be a good  choice if the student is interested in investing in exchange-traded funds within a tax-free framework. It is important for the student to consider their financial goals, risk tolerance, and investment preferences when selecting the most appropriate account.</p>
      </div>
      <div class="btnContainer">
      <button mat-button class="customButton" routerLink="/register">Open an account</button>
      <button  mat-button class="customButton2"routerLink="/accounts">Other options</button>
    </div>
    </div>
  </div>