.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    margin-bottom: 15%;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:90%;
  }
  
  .heading {
    text-align: center;
    font-family: roboto;
    font-style: bold;
    color: #870A3C;
    font-weight: bolder;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100vw;
    
  }
  
  .card {
    width: 18%;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: none;
  }
  
  .card-image {
    width: 110px;
    height: 110px;
  }
  
  .card-heading {
    font-size: 2.2vw; /* Adjusted */
    margin: 10px 0;
    font-family: roboto;
    color: #870A3C;
    font-weight:normal;
  }
  
  .card-explanation {
    font-size: 1.4vw; /* Adjusted */
    font-family: roboto;
    font-weight:lighter;
  }
  .bottomContent{
    display: flex;
    justify-content: center;
  }
  .bottomParagraph{
    font-size: 1.4vw;
    font-family: roboto;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 1.5;
    width:80%;

  }
  .customButton{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 200px;
    background-color: #870A3C;
    background-color: #870A3C;
    color: #FFFFFF;
    /* Center the buttons horizontally */
    margin: 0 auto;
  
    /* Apply some padding and font size for better aesthetics */
    padding: 12px 24px;
    font-size: 16px;
  }
  .browseBtn{
    border-radius: 15px;
    background: #870A3C;
    padding: 1%;
    border-width: 0px;
    color: white;
    padding-top:1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;

  }
  
  /* Media Query for screens below 786px */
  @media (max-width: 786px) {
    .card {
      width: 90%;
      height:150px;
    }
    .card1 {
      width: 90%;
      min-width: auto;
    }
    .bottomParagraph{
      max-width: 90vw;
      font-size: 14px;
      font-family: roboto;
      font-weight: lighter;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      line-height: 1.5;
      width:90vw;
    }
  
    .card-heading {
      font-size: 18px; /* Adjusted */
    }
  
    .card-explanation {
      font-size: 14px; /* Adjusted */
    }
    .container{
      margin-bottom: 30%;
    }
    .card-container{
      margin-bottom: 15%;
    }
    .heading{
      margin-bottom: 13%;
    }
    .openBtn{
      margin-bottom: 5%;
      padding-top:2.3%;
      padding-bottom: 2.3%;
      padding-left: 3.3%;
      padding-right: 3.3%;
    }
    .browseBtn{
      padding-top:2.5%;
      padding-bottom: 2.5%;
      padding-left: 3.5%;
      padding-right: 3.5%;

    }

  }

  

  