.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    margin-bottom: 19%;
    width: 100vw;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:100vw;
  }
  .heading {
    text-align: center;
    font-family: roboto;
    font-style: bold;
    color: #870A3C;
    font-weight: bolder;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100vw;
    
  }
  
  .card {
    width: 18%;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: none;
  }
  
  .card-image {
    width: 80px;
    height: 80px;
  }
  
  .card-heading {
    font-size: 2.2vw; /* Adjusted */
    margin: 10px 0;
    font-family: roboto;
    color: #870A3C;
    font-weight:normal;
  }
  .card-explanation {
    font-size: 1.4vw; /* Adjusted */
    font-family: roboto;
    font-weight:lighter;
  }
  .bottomContent{
    display: flex;
    justify-content: center;
  }
  .bottomParagraph{
    font-size: 1.4vw;
    font-family: roboto;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 1.5;
    width:68%;
  }
  .btnContainer{
    display: inline-flex;
    justify-content: center;
    width: 40%;
  }
  .customButton{
    margin-top: 13%;
    margin-bottom: 2%;
    width: 200px;
    background-color: #870A3C;
    background-color: #870A3C;
    color: black;
    /* Apply some padding and font size for better aesthetics */
    padding: 12px 24px;
    font-size: 16px;
  }
  .customButton2{
    margin-left: 10%;
    display: inline-flex;
    margin-bottom: 2%;
    width: 210px;
    background-color: #870A3C;
    background-color: #870A3C;
    color: black;
    /* Apply some padding and font size for better aesthetics */
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 13%;
  }
  .browseBtn{
    border-radius: 15px;
    background: #870A3C;
    padding: 1%;
    border-width: 0px;
    color: white;
    padding-top:1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  
  /* Media Query for screens below 786px */
  @media (max-width: 786px) {
    .card {
      width: 100%;
      height:100%;
      padding: none;
    }
    .card1 {
      width: 100%;
      min-width: auto;
      height: 100%;
      padding: none;
    }
    .bottomParagraph{
      max-width: 90vw;
      font-size: 14px;
      font-family: roboto;
      font-weight: lighter;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      line-height: 1.5;
      width:90vw;
    }
    .card-image{
      height:40%;
      width: 20%;
    }
    .card-heading {
      font-size: 18px; /* Adjusted */
    }
    .card-explanation {
      font-size: 14px; /* Adjusted */
    }
    .container{
      margin-bottom: 26.5%;
      min-width: 100vw;
      justify-content: center;
    }
    .card-container{
      margin-bottom: none;
    }
    .heading{
      margin-bottom: none;
      max-width:100%;
    }
  
    .flex-container{
    width:100vw;
  }
  button{
    width: 200px;
    background-color: #870A3C;
    color: #FFFFFF;
    /* Center the buttons horizontally */
    margin-left: 0.3% ;
    /* Apply some padding and font size for better aesthetics */
    padding: 12px 24px;
    font-size: 16px;
  }
  /* Style for the custom buttons */

/* Flexbox container for buttons */
.button-container {
  /* Center the buttons horizontally */
  display: flex;
  justify-content: center;
  /* Set the container width to the screen width */
  width: 100%;
  margin-top: -13%;
}
.bottomContent{
  margin-bottom: 0px;
}

  }

  

  