.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    margin-bottom: 15%;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    width:936px;
  }
  
  .heading {
    text-align: center;
    font-family: roboto;
    font-style: bold;
    color: #870A3C;
    font-weight: bolder;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100vw;
    
  }
  
  .card {
    width: 28%;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: none;
  }
  
  .card-image {
    width: 110px;
    height: 110px;
  }
  
  .card-heading {
    font-size: 2.2vw; /* Adjusted */
    margin: 10px 0;
    font-family: roboto;
    color: #870A3C;
    font-weight:normal;
  }
  
  .card-explanation {
    font-size: 1.5vw; /* Adjusted */
    font-family: roboto;
    font-weight:lighter;
  }
  .bottomParagraph{
    font-size: 1.5vw;
    font-family: roboto;
    font-weight: lighter;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 1.5;
    width:1330px;

  }
  .openBtn{
    border-radius: 15px;
    background: #870A3C;
    padding: 1%;
    margin-top: 10%;
    margin-bottom: 2%;
    border-width: 1px;
    color: white;

  }
  .browseBtn{
    border-radius: 15px;
    background: #870A3C;
    padding: 1%;
    border-width: 1px;
    color: white;

  }
  
  /* Media Query for screens below 786px */
  @media (max-width: 786px) {
    .card {
      width: 90%;
      min-width: auto;
    }
    .bottomParagraph{
      max-width: 90vw;
      font-size: 14px;
      font-family: roboto;
      font-weight: lighter;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      line-height: 1.5;
    }
  
    .card-heading {
      font-size: 18px; /* Adjusted */
    }
  
    .card-explanation {
      font-size: 14px; /* Adjusted */
    }
  }

  

  