<div class="container">
    <div class="flex-container">
      <h1 class="heading">Tax-free savings account offered by SimpliSave</h1>
      <div class="card-container">
        <div class="card">
          <img src="./assets/Icons/Expense track2.png" alt="Card Image" class="card-image">
          <h2 class="card-heading">Expense tracking</h2>
        </div>
        <div class="card">
          <img src="./assets/Icons/target2.png" alt="Card Image" class="card-image">
          <h2 class="card-heading">Saving targets</h2>
        </div>
        <div class="card">
          <img src="./assets/Icons/tax-free2.png" alt="Card Image" class="card-image">
          <h2 class="card-heading">Tax-free</h2>
        </div>
      </div>
      <div class="bottomContent">
        <p class="bottomParagraph">SimpliSave offers a complete tax-free savings solution. Our app effortlessly connects to your regular account for easy expense tracking. Set savings goals and our platform will actively monitor your progress, sending alerts for adjustments. Achieve financial goals with our tax-free advantages.</p>
      </div>
    </div>
  </div>