<div class="container mt-5">
    <div class="card text-bg-dark position-relative">
      <img src="/assets/Open_account_Background-image.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title text-white">Save what you can</h1>
        <h1 class="card-title text-white">when you can, and</h1>
        <h1 class="card-title text-white">you will always have</h1>
        <button class="btn" (click)=" navigateToRegisterComponent()">Open an account</button>
      </div>
    </div>
  </div>