.add-container{
    display: flex;
}

  
  .title{
      color: var(--primary-color);
      font-weight: var(--bold);
      font-size: var(--font-x-large);
  }
  
   button{
    width: 30%;
  }
  
  .validation{
    width: 100%;
    font-size:var(--font-x-small);
    
  }
  
  .btn{
    background-color: var(--primary-color);
    float: right;
    border-radius: 10px;
    margin-right: 10px;
    width: 30%;
    color:white;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-label .mat-placeholder {
    font-size: xx-small !important;
  
  }
  mat-label{
    font-size: var(--font-x-small);
  }
  
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: var(--primary-color)!important;
  }

  
  
  
  