<app-second-nav-bar></app-second-nav-bar>

<div class="add-container">
<div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>  

<div class="mask d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-left">
        <h1 class="title text-center mb-5 mt-5">Add Transactions</h1>
    
        <div class="col-12 col-md-9 col-lg-7 col-xl-4">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                
              <form class="example-form" >

                <mat-form-field class="validation mb-4" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" class="form-control-plaintext" id="username" formControlName="username" required />
                </mat-form-field>
                <mat-form-field class="validation mb-4" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" class="form-control-plaintext" id="username" formControlName="username" required />
                  </mat-form-field>
                  <mat-form-field class="validation mb-4" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" class="form-control-plaintext" id="username" formControlName="username" required />
                  </mat-form-field>
                
                <div class="d-flex justify-content-center align-items-center">
                  <button class="btn" type="submit">Add</button>
                </div>
            
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

