h1 {
  text-align: center;
  padding-top: 20px;
}


.info-container {
  display: flex;
  align-items: center;
}

.info-icon {
  cursor: pointer;
  font-size: 20px; 
}


mat-icon{
  color: #870A3C;
  margin: 5%;
  position: absolute;
  top: 0;
  right: 0;
 
}

.flex-container {
  display: flex;
  text-align: center;
  gap: 20px;
  padding:2%;
  width: 100%;
  margin-left: 0%;
}

.flex-container > div {
  background-color: #E5E5E5;
  padding: 1%;
  font-size: 20px;
  border-radius: 3px;
  
}

.flex-item {
  position: relative;
  flex: 50%;
  color: #000;
  width: 150%;
 
}
@media (max-width: 600px) {
  /* Adjust icon size and spacing for mobile devices */
  .info-icon {
    font-size: 15px;
    margin-right: 0px;
  }
 
}
@media (max-width: 800px) {
  h1 {
    padding-top: 10px;
  }

  .flex-container {
    flex-wrap: wrap;
  }

  .flex-item:nth-child(2),
  .flex-item:nth-child(3) {
    flex-basis: calc(50% - 10px);
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  .flex-container > div {
    font-size: 16px;
  }
}