h1 {
  text-align: center;
  padding-top: 20px;
}

.flex-container {
  display: flex;
  text-align: center;
  gap:20px;
  max-width: 1150px;
  padding-left: 60px;
}

.flex-container > div {
  background-color: #E5E5E5;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.flex-item {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  
  .flex-item {
    flex-basis: 100%;
  }
}
