.heading {
  color: var(--primary-color);
  font-size: var(--font-xx-large);
  font-family: Roboto;
  font-weight: var(--semi-bold);
  line-height: 20px;
  word-wrap: break-word;
  margin-top: 30px;
  padding-left: 2%;
  padding-bottom: 2%;
}

.item:hover {
  background-color: var(--hover);
  cursor: pointer;

}

.Transfer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AF144B;
  width: 20%;
  height: 40px;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-family: Roboto;
  line-height: 20px;
  letter-spacing: 0.10px;
}

.firstPart {
  display: flex;
  align-items: center;
  padding-right: 2%;
}


.info-container {
  display: flex;
  align-items: center;
}

.info-icon {
  cursor: pointer;
  font-size: var(--font-large);
}


mat-icon {
  color: var(--primary-color);
  margin: 5%;
  position: absolute;
  top: 0;
  right: 0;

}

.top-container {
  display: flex;
  gap: 20px;
  padding: 2%;
  width: 100%;
  margin-left: 0%;
  margin-top: 0;
}

.top-container>div {

  padding: 1%;
  font-size: var(--font-large);
  color: black;
  font-family: var(--base-font);
  font-weight: var(--semi-bold);
  line-height: 24px;
  letter-spacing: 0.15px;
  word-wrap: break-word
}

p {
  color: black;
  font-size: var(--font-small);
  font-family: var(--base-font);
  font-weight: var(--regular);
  line-height: 20px;
  letter-spacing: 0.25px;
  word-wrap: break-word
}

h6 {
  font-size: var(--font-normal);
  font-weight: var(--bold);
}

.item {
  position: relative;
  flex: 50%;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 12px;

}

@media (max-width: 1024px) {
  .Transfer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AF144B;
    width: 30%;
    height: 30px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0.10px;
    margin: 0;
    padding: 0;
    margin-top: 2%;
  }

  .info-icon {
    font-size: var(--font-normal);
    margin-right: 0px;
  }

  .firstPart {
    display: flex;
    align-items: center;
    padding-right: 2%;
  }

  .material-icons {

    margin: 0;
    padding: 0;
    margin-left: 0.5vw;
  }
}

@media (max-width: 800px) {
  .heading {
    font-size: 24px;
    margin-left: 1%;
  }

  .item:nth-child(2),
  .item:nth-child(3) {
    flex-basis: calc(50% - 10px);
    font-size: var(--font-normal);
    margin-bottom: 20px;
  }

  h6 {
    font-size: var(--font-small);
  }

  p {
    font-size: var(--font-x-small);
  }

  .top-container>div {
    font-size: 16px;
    padding: 2%;


  }

  .top-container {
    flex-wrap: wrap;

  }

  .item:nth-child(2),
  .item:nth-child(3) {
    flex-basis: calc(50% - 10px);
    font-size: var(--font-normal);
    margin-bottom: 20px;

  }

  h6 {
    font-size: var(--font-small);
  }

  p {
    font-size: var(--font-x-small);
  }

  .Transfer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AF144B;
    width: 30%;
    height: 30px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0.10px;
    margin: 0;
    padding: 0;
  }

  .firstPart {
    display: flex;
    align-items: center;
    padding-right: 2%;
  }

  .material-icons {
    margin-left: 0;
    margin: 0;
    padding: 0;
  }

  .info-icon {
    font-size: 15px;

  }



}

@media (max-width: 500px) {
  .heading {
    font-size: var(--font-x-large);
    margin-top: 10px;
    font-size: 24px;
    margin-top: 15px;

  }

  .top-container>div {
    font-size: var(--font-normal);
    padding: 2%;


  }


  .top-container {
    flex-wrap: wrap;
    width: 102%;
    margin-left: 0px;
  }

  .item:nth-child(2),
  .item:nth-child(3) {
    flex-basis: calc(50% - 10px);
    font-size: 16px;
    margin-bottom: 20px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  .Transfer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AF144B;
    width: 48%;
    height: 30px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    font-family: Roboto;
    line-height: 20px;
    letter-spacing: 0.10px;
    margin: 0;
    padding: 0;
  }





}
@media (min-width: 768px){
  .top-container{
    width: 100%;
    
  }
}