<body>
  <div class="grid-container">
    <div class="sidebar">
      
    </div>
    <main class="main-container">
      <div class="main-title">
      </div>
      <h1>DASHBOARD</h1>
      <div class="main-cards">
        <!-- Existing cards -->
        <div class="card">
          <div class="card-inner">
            <p class="text-primary">
              Monthly Allowance
            </p>
          </div>
          <span class="text-primary font-weight-bold">R1500.00</span>
        </div>
        <div class="card">
          <div class="card-inner">
            <p class="text-primary">Total Spending</p>
          </div>
          <span class="text-primary font-weight-bold">R0.00</span>
        </div>
        <div class="card">
          <div class="card-inner">
            <p class="text-primary">Total Saved</p>
          </div>
          <span class="text-primary font-weight-bold">R0.00</span>
        </div>
        
      
        <div class="graph">
         
            <p class="text-primary">Graph</p>
        
       
        </div>
        <div class="Checklist">
        
            <p class="text-primary">Checklist</p>
        
          
        </div>
      </div>
    
    </main>
  </div>
</body>
