
<h1>Dashboard</h1>
<div class="flex-container">
  
  <div class="flex-item">
    <mat-icon class="info-icon" matTooltip="Current Balance on the everyday bank account">info</mat-icon>
   Available Balance
    <p>R {{ this.availableBalance }}</p>  
  </div>

  <div  class="flex-item">
    <mat-icon class="info-icon" matTooltip="Total amount that has been spent for that specific month on the everyday bank account">info</mat-icon>
     Spending
    <p>R 0.00</p> 
  </div>

  <div class="flex-item">   
    <mat-icon class="info-icon" matTooltip="Total amount that has been saved for that specific month">info</mat-icon>
    Total Saved
    <p>R {{this.totalSaved}}</p>
  </div>
</div>

