.sidebar {
  background-color:	#E5E5E5;
  width: 95%;
  margin-top: 10px;
  text-align: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar > div {
  background-color: #870A3C;
  color: #ffffff;
  width: 90%;
  height: 7%;
  margin: 10px auto;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  margin: 10px auto;
}

.logout-button {
  background-color: #870A3C;
  color: #ffffff;
  width: 90%;
  margin: 10px auto;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-top: 200%;
}
.sideBarPic{
  margin-left:-55px;
  margin-right:30px;
}

.sideBarPic2{
  margin-left:-45px;
  margin-right:20px;
}

.sideBarPic3{
  margin-left:-75px;
  margin-right:30px;
}

/* Media query for mobile devices */
@media (max-width: 767.98px) {
  .sidebar {
    display: none;
  }

  /* Mobile responsive styles */
  body {
    padding-left: 0; /* Remove padding from the body */
  }

  .content {
    margin-left: 0; /* Remove margin from the content area */
  }

  .sidebar-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: 0;
  }

  .sidebar-mobile > div {
    display: none; /* Hide sidebar items on mobile */
  }

  .logout-button {
    display: block;
    margin: 10px auto;
    margin-top: 0;
    position: static; /* Reset position to static */
  }
}
