<div class="container text-center">
    <div class="row" >

      <div class="col">
        <div class="flex-box">
  
            <canvas id="myChart" width="400" height="300"></canvas>
          </div>
      </div>


      <div class="col">
      
        <div class="flex-container">
            <h1>Checklist</h1>
        
            <div class="card">
        
              <p>Add items to the checklist</p>
            
              <button>Add To Checklist</button>
            </div>
          </div>
          

      </div>
      
    </div>
  </div>
  