<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="head"><mat-icon class="info-icon" matTooltip="The graph displays how much was spent per month">error</mat-icon> <h1 class="subHeader">Monthly Expense summary</h1></div>
      <div class="graph">
        <canvas id="myChart" width="400" height="300"></canvas>
      </div>
    </div>

    <div class="col">
      <div class="heading"> <mat-icon class="info-icon" matTooltip="Checklist">error</mat-icon><h1 class="subHeader">Checklist</h1></div>
      <div class="expense-container">
  

        <div *ngIf="isTypesEmpty; else emptyValue">
          <ul class="checklist">
            <li *ngFor="let type of types">
       <input type="checkbox" [(ngModel)]="type.isChecked" disabled id="{{type.name}}" style="opacity: 0; "> 
            
              <label class="checkbox-label" for="{{type.name}}">
                {{ type.name }} - {{ type.amount }}
              </label>
            </li>
          </ul>
          <button (click)="openExpenseModal()" mat-button>	<mat-icon>add</mat-icon>Add To Checklist</button>
        </div>

        <ng-template #emptyValue>
          <div *ngIf="isTypesEmpty===''">
 
            <div class="emptyChecklist">


                <p>Your checklist is empty</p> 
                <button (click)="openExpenseModal()" mat-button><mat-icon>add</mat-icon>Add To Checklist</button>

            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
