<div class="container text-center">
  <div class="row">

    


    <div class="col">
      <div class="flex-container">
        <h3>Expense allocation categories</h3>

        <div *ngIf="isTypesEmpty; else emptyValue">
          <ul class="checklist">
            <li *ngFor="let type of types">
              <label class="checkbox-label">
                <input type="checkbox" [(ngModel)]="type.checked" disabled>
                {{ type.name }} - {{ type.amount }}
              </label>
            </li>
          </ul>
          <button (click)="openExpenseModal()">Add To Checklist</button>
        </div>
        <ng-template #emptyValue>
          <div *ngIf="isTypesEmpty===''">
            <h1>Checklist</h1>
                  
            <div class="card">
        
              <p>Add items to the checklist</p>
            
              <button (click)="openExpenseModal()">Add To Checklist</button>
            </div>
          </div>
          

     
      
    
 





  