.row {
   display: flex;
   height: 100%;
   margin-top: -60px;
}
.info-icon{
   color: #000;
   margin-left: 95%;
   margin-top: 1%;
   align-items: center;
}
.accordion-container {
   max-height: 400px; /* Adjust the maximum height as needed */
   overflow-y: auto;
   border: 1px solid #ccc; /* Add a border for clarity */
   padding: 10px;
   box-sizing: border-box;
 }

 
.col {
   background-color: #ffffff;
   border-radius: 12px;
   margin: 2%;
   width: 20%;
   position: relative; 
   border-style: solid;
   border-width: 0.5px;
  
}
.mdc-button__label{
   color: #FFFFFF!important;
 }
.subHeader::after {
   content: "";
   display: block;
   width: calc(100% + 4%); 
   height: 0.5px; 
   background-color: #000; 
   margin-top: 25px; 
   margin-left: -2%; 
}

.graph {
   width: 100%;
   max-height: 100rem;
   margin: 2%;
}

.expense-container {
   margin-bottom: 1%;
  
}

.emptyChecklist{
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      margin-top: 10%;
      margin: 0%;
      max-width: 100%; 
   
   }

   .emptyChecklist img {
      width: 100%;
      height: 40vh;
   }

.expense-container button {
   background-color: #AF144B;
   width: 65%;
   color: white;
   border-radius: 20px;
   margin-left: 2%;
   margin-bottom: 10%;
   border: none;
   font-size: 14px;
   font-family: Roboto;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0.10px;
   margin-top: 0%;
}

.text-center {
   background-color: #ffff;
}
.checklist{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   border-style: solid ;
   border-radius: 2px;
   border-width: 0.5px;
   padding: 4%;
   width: 100%;
   background: url('../../../../assets/Images/dashboard/marissa-grootes-vdaJJbls3xE-unsplash.jpg') no-repeat center center;
   background-size: cover;
  padding-left: 15%;  
  list-style-type: none;
   
}

.checkbox{
   color: #AF144B;
}
.checkbox input[type="checkbox"] {
   opacity: 0;
}
li{
   text-decoration: none;
}

/* Hide the default checkbox */
input[type="checkbox"] {
   position: absolute;
   opacity: 0;
   height: 0;
   width: 0;
 }
 
 /* Create the checkbox box */
 input[type="checkbox"] + label {
   position: relative;
   padding-left: 30px;
   cursor: pointer;
 }
 
 /* Style the checkbox box */
 input[type="checkbox"] + label::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   border: 1px solid #000;
   background-color: #fff;
 }
 
 /* Style the checkmark inside the checkbox */
 input[type="checkbox"] + label::after {
   content: "\2718"; /* Unicode for X symbol */
   position: absolute;
   top: 2px;
   left: 6px;
   font-size: 16px;
   color: red;
   visibility: hidden;
 }
 
 /* Show the checkmark when the checkbox is checked */
 input[type="checkbox"]:checked + label::after {
   visibility: visible;
 }

 .subHeader {
   color: #1D1B20;
   font-size: 20px;
   font-family: Roboto;
   font-weight: 600;
   word-wrap: break-word;
   
   }
   

   @media (max-width: 768px) {
      .subHeader {
        font-size: 16px; 
      }
      .row {
         margin-top: -30px;
      }
     
    }
 
