.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* padding-top: 50px; */
    font-family: Inconsolata;
  }
  
  .flex-item-right {
    align-self: center;
    align-items: center;
    flex: 60%;
    justify-content: center;
  }
 

  .form{
    padding-top: 20px;
    gap: 20px;

  }

  p{
    color: #AF144B;
    margin-left: 30%;
  }
  button{
    width: 30%;
    height: 45px;
    margin-left: 35%;
    background-color: #AF144B;
    border-radius: 20px;
    border-color: transparent;
    color: #FFFFFF;
  }

  .text-center{
    color: #AF144B;
  }

  mat-icon{
    color: gray;
    width: 50px;
    height: 50px;
    font-size: xx-large;
  }

  .btn{
    background-color: #AF144B;
    color: #FFFFFF;
  }

  input{
    border-bottom: 0.5px solid  #AF144B;
    font-size: large;
  }
  
  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-item-left {
        flex: 0%;
      }
      
      .flex-item-right {
        flex: -20%;
      }
  }
