<app-navbar></app-navbar>
    <div class="flex-container">
    
        <div class="flex-item-right">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">
    
                  <h1 class="text-center h4  mb-5 mx-1 mx-md-4 mt-4">Hey! 
                    Login here ..</h1>
    
                  <form class="form mx-1 mx-md-10">
    
                    <div class="form-group row">
                        <div class="d-flex col-sm-10">
                            <mat-icon>person</mat-icon>
                            <input type="email"  class="form-control-plaintext" id="name" placeholder="Enter your email address">
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-group row">
                        <div class="d-flex col-sm-10">
                            <mat-icon>lock</mat-icon>
                          <input type="password"  class="form-control-plaintext" id="email" placeholder="Enter your password">
                        </div>
                    </div>
                    <br>
                    <br>

                    <p routerLink="/forgot">Forgot your password? Click Here</p>

                    <br>
                    <br>

                    <button>Login</button>
    
                  </form>
                  
                </div>
            </div>
        </div>
    </div>
