
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  var(--base-font);
}

.flex-container {
    display: flex;
    margin-left: 1vw;
    margin-top: 1vw;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .search__form_field {
    width: 100%;
   
  }

.form-outline {
    --mdb-form-outline-select-notch-border-color: #3b71ca;
}


.search__form_field {
    width: 100%; 
    margin-top:10px;
  }

body {
    min-height: 100vh;
    background: url(/assets/images/Landing/Open_account_Background-image.png) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    height: 52vh;
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    padding:10px;
}

.card{
    margin-top: 3%;
    width: 100%;
    border-radius: .8rem;
}

h5{
    font-weight:  var(--bold);
    font-size: 16px;
}

.table__header {
    width: 100%;
    background-color: var(--table-gray);
    padding: .8rem .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
     height: auto;
    background-color: var(--table-gray);
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    background-color: var(--table-hover);
    box-shadow: 0 .1rem .4rem black;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 100%;
    max-height: calc(89% - 0rem);
    border-radius: .4rem;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: black;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
    border-collapse: collapse;
}    

td img {
    width: 25px;
    height: 25px;
    margin-right: .3rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.break-word-mobile .content-container {
    display: flex;
    align-items: center; /* Align content vertically */
}

.break-word-mobile img {
    margin-right: 0.5rem; /* Add some spacing between image and text */
}
tbody tr:hover {
    background-color: var(--table-hover);
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: var(--table-hover) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.amount {
    padding: .5rem 0;
    border-radius: 2rem;
    text-align: start;
    padding-left: 8px;
}

.amount.received {
    color: var(--success);
}

.amount.cancelled {
    color: var(--cancel);
}

p{
    text-align: start;
    font-size:  var(--font-small);
}

/* Adjust for mobile screens  */

@media (max-width: 600px) {
  
    .flex-container {
      flex-direction: column; 
    }
    .search__form_field {
        width: 100%; /* Take full width of the container */
      }
  }

@media (max-width: 700px) {

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 0.3rem;
        font-size: 0.9rem; /* Adjust font size for cells */
    }

    h5{
        font-size: medium;
        font-size: 14px;
    }
    p{
        font-size:  var(--font-x-small);
    }

    td img {
        width: 20px;
        height: 20px;
    }


    .table__header {
        padding: 0.1rem;
        text-align: center;
    }
    
    .table__header .input-group {
        width: 100%;
    }

    .table td:first-child {
        display: none;
      }

    .mobile-stack {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
    }

    .flex-containter .search__form_field{
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-left:10px;
    }
    .mobile-stack p {
        /* margin: 0;*/
        text-align: right; 
        display:none;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
    }

    .flex-container img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .stacked-date{
        padding-left: 5px;
    }

    .amount {
        padding: 0; /* Adjust the padding as needed */
        border-radius: 2rem;
        text-align: start;
        padding-left: 0px;
    }
    .amount.cancelled,
    .amount.received,
    .stacked-date{
        width:120px;
    }

    .td{
    padding: 0.3rem;
    text-align: left;
    max-width: 2rem; /* Adjust the max-width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    .break-word-mobile,
    .staked {
    word-break: break-all;
  }

  .break-word-mobile p{
  display: flex;
  flex-direction: row;
  }
  .search__form_field {
    width: 100%; /* Take full width of the container */
  }
  .flex-container{
    padding: 0;
  }
}

@media (min-width: 1000px) {
    .stacked-date {
        margin: 0;
        text-align: right; 
        display:none;
    }

    .search__form_field {
        width: 30%; /* Take full width of the container */
        margin-top:10px;
        margin-left:20px;
        text-align: center;
        justify-content: center;
      }
      .search__form_field {
        width: 100%; /* Take full width of the container */
        margin-top: 20px;
      }
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width:auto;
    }
    .search__form_field {
        width: 96%; /* Take full width of the container */
        margin-top: 20px;
      }
}

@media (max-width: 280px) {
    td:not(:first-of-type) {
        min-width:auto;
    }

    .flex-container {
        display: flex;
        margin-left: -10px;
       
      }
      
    .search__form_field {
        width: 70%; /* Take full width of the container */
        margin-top: 20px;
        margin-left: 44px;
       
      }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid var(--primary-color);
}

thead th:hover {
    color: var(--primary-color);
}

thead th.active span.icon-arrow{
    color: white;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

