body {
    font-family: Roboto, sans-serif;
  }
  
  .flex-container {
    display: flex;
    gap: 20px;
    padding:1%;
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
    /* background-color: red; */
  }
  
  
  .header {
    display: flex;
    gap: 20px;
    padding:0;
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
    /* background-color:aqua; */
  }
  
  .header > div {
    
    padding: 0;
    font-size: 20px;
    color: #1D1B20;
    /* font-size: 16px; */
    font-family: Roboto;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.15px;
    word-wrap: break-word;
    /* background-color: yellow; */
  } 
  
   .flex-container > div {
    
    padding: .6%;
    font-size: 20px;
    color: #1D1B20;
    /* font-size: 16px; */
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    word-wrap: break-word;
  } 
  
  h1 {
    color: #870A3C;
    font-size: 35px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 13px;
    word-wrap: break-word;
    margin-top: 12px;
    }
    
    .info-container {
      display: flex;
      align-items: center;
    }
    
    .info-icon {
      cursor: pointer;
      font-size: 20px; 
    }
    
    mat-icon{
      color: #870A3C;
      margin: 1%;
      top: 0;
      right: 0;
    }
    
    p{
    color: #1D1B20;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    word-wrap: break-word
    }
    
    .flex-item{
      position: relative;
      flex: 50%;
      border-style: solid;
      border-width: 0.5px;
      border-radius: 12px;
    }
    
    @media (max-width: 600px) {
      .header{
        gap: 10px;
      }
      .info-icon {
        font-size: 15px;
        margin-right: 0px;
      }
     
    }
    @media (max-width: 800px) {
      h1 {
        padding-top: 10px;
      }
    
      .flex-container {
        flex-wrap: wrap;
      }
    
      .flex-item:nth-child(2),
      .flex-item:nth-child(3) {
        flex-basis: calc(50% - 10px);
        font-size: 16px;
        /* margin-bottom: 20px; */
      }
    }
    
    @media (max-width: 500px) {
      h1 {
        font-size: 35px;
        text-align: center;
        margin: 10px 10px;
      }
    
      .flex-container > div {
        font-size: 16px;
      }
    }
  
   .input-group  {
    width: 100%;
    height: 90%;
    background-color: #fff;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: .2rem .2rem .2rem .1rem#870A3C;
    margin-right: .8%;
  }
  
  .input-group input {
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  input {
    flex-grow: 1;
    border: none;
    font-size: 18px;
    border-radius: 0px;
    outline: none;
  } 
  
  .centered-placeholder {
    background-color: aqua;
    text-align: start;
    margin: 10px;
  }
  


/* 
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .filter {
    flex: 1;
    text-align: left;
    background-color: red;
  }
  
  .filter .dropdown-toggle {
    width: 100%;
    text-align: left;
    background-color: green;
  }
  
  /* Additional styling for the dropdown buttons 
  .btn.dropdown-toggle {
    margin-right: 10px;
    background-color: yellow;
  }
  
  /* Hide filter dropdown on larger devices 
  @media (min-width: 768px) {
    #filterDropdown {
      display: none;
    }
  }
  



.table__header .input-group {
    width: 45%;
    height: auto;
    background-color: #fff;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: 0 0 .1rem black;
     margin-right: .8%;
}

/* .table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #870A3C;
    border-radius: 1px solid ;
} 

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    /* max-height: calc(89% - 0.6rem); 
    background-color: #fffb;
    /* background-color: #006b21; 

    margin: .9rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td img {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
   
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px; /* Adjust the spacing between records 
        padding-bottom: 10px; /* Add spacing below each record 
      
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.amount {
    padding: .5rem 0;
    border-radius: 2rem;
    text-align: start;
    padding-left: 5px;
}

.amount.received {
    background-color: #86e49d;
    color: #006b21;
}

.amount.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

/* .status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
} */




/* ... your existing CSS ... */

/* Style for larger screens 

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container img {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
.p{
    text-align: start;
}

/* Adjust for mobile screens 
@media (max-width: 600px) {

    .table td:first-child {
        display: none;
      }

    .mobile-stack {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
    }

    .mobile-stack p {
        /* margin: 0;
        text-align: right; 
        display:none;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-container img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .stacked-date{
        padding-left: 5px;
        background-color: red;
    }
}

@media (min-width: 1000px) {
    .stacked-date {
        margin: 0;
        text-align: right; 
        display:none;
    }

    main.table {
        width: 80vw;
        height: auto;
        background-color: #fff;
        backdrop-filter: blur(7px);
        box-shadow: 0 .4rem .8rem #0005;
        border-radius: .8rem;
        overflow: hidden;
        /* margin: 0 20px; */
        /* float: right; 
    }
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
    
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}*/






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    min-height: 100vh;
    background: url(/assets/images/Landing/Open_account_Background-image.png) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    height: 52vh;
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    padding:10px;
}

.card{
    margin-top: 3%;
    width: 99%;
    border-radius: .8rem;
}

h5{
    font-weight: 800;
}

.table__header {
    width: 100%;
    background-color: #fff4;
    padding: .8rem .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
     height: auto;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 98%;
    max-height: calc(89% - (-2rem));
    /* background-color: yellow; #fffb */
    margin: .8rem auto;
    border-radius: .4rem;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
    border-collapse: collapse;
}    

td img {
    width: 25px;
    height: 25px;
    margin-right: .3rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: .5rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
    cursor: pointer;
    text-transform: capitalize;
}

.break-word-mobile .content-container {
    display: flex;
    align-items: center; /* Align content vertically */
}

.break-word-mobile img {
    margin-right: 0.5rem; /* Add some spacing between image and text */
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.amount {
    padding: .5rem 0;
    border-radius: 2rem;
    text-align: start;
    padding-left: 8px;
}

.amount.received {
    color: #18d955;
}

.amount.cancelled {
    color: #f60b36;
}

p{
    text-align: start;
    font-size: 14px;
}

/* Adjust for mobile screens  */


@media (max-width: 700px) {

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 0.3rem;
        font-size: 0.9rem; /* Adjust font size for cells */
    }

    h5{
        font-size: medium;
    }
    p{
        font-size: 12px;
    }

    td img {
        width: 20px;
        height: 20px;
    }


    .table__header {
        padding: 0.1rem;
        text-align: center;
    }
    
    .table__header .input-group {
        width: 100%;
    }

    .table td:first-child {
        display: none;
      }

    .mobile-stack {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
    }

    .mobile-stack p {
        /* margin: 0;*/
        text-align: right; 
        display:none;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-container img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
    }
    .stacked-date{
        padding-left: 5px;
    }

    .amount {
        padding: 0; /* Adjust the padding as needed */
        border-radius: 2rem;
        text-align: start;
        padding-left: 0px;
    }
    .amount.cancelled,
    .amount.received,
    .stacked-date{
        width:120px;
    }

    .td{
    padding: 0.3rem;
    text-align: left;
    max-width: 2rem; /* Adjust the max-width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    .break-word-mobile,
    .staked {
    word-break: break-all;
  }

  .break-word-mobile p{
  display: flex;
  flex-direction: row;
  }
}

@media (min-width: 1000px) {
    .stacked-date {
        margin: 0;
        text-align: right; 
        display:none;
    }
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width:auto;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #870A3C;
}

thead th:hover {
    color: #870A3C;
}

thead th.active span.icon-arrow{
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}
