<main class="table">
    <section class="table__body">
        <div class="table-responsive">
        <table>
            <thead>
                <h3>Today</h3>
            </thead>
            <tbody>
                <tr>
                    <td> 17 Dec, 2022 </td>
                    <td> <img src="/assets/Spending_money_wallet.png" alt="">Zinzu Chan Lee</td>
                    <td>
                        <p class="amount cancelled"> - R128.90</p>
                    </td>
                </tr>
                
                <tr>
                    <td>14 Mar, 2023 </td>
                    <td><img src="/assets/Spending_money_wallet.png" alt=""> Jeet Saru </td>
                    <td>
                        <p class="amount cancelled">- R350.50</p>
                    </td>
                </tr>
                <tr>
                    <td> 31 Mar, 2023 </td>
                    <td><img src="/assets/Spending_money_wallet.png" alt=""> Sonal Gharti </td>
                  <td>
                        <p class="amount cancelled">- R210.50</p>
                    </td>
                </tr >
                <thead>
                    <h3></h3>
                </thead>
                
                <tr>
                    <td> 23 Apr, 2023</td>
                    <td><img src="/assets/Spending_money_wallet.png" alt=""> Alson GC </td>
                    <td>
                        <p class="amount cancelled">- R149.70</p>
                    </td>
                </tr>
                <tr>
                    <td> 20 May, 2023 </td>
                    <td><img src="/assets/Spending_money_wallet.png" alt=""> Sarita Limbu </td>
                    <td>
                        <p class="amount cancelled">- R399.99</p>
                    </td>
                </tr>
                <tr>
                    <td>  25 May, 2023 </td>
                    <td><img src="/assets/Spending_money_wallet.png" alt=""> Alex Gonley </td>
                    <td>
                        <p class="amount cancelled">- R399.99</p>
                    </td>
                </tr>
                <tr>
                    <td> 27 Aug, 2023  </td>
                    <td><img src="/assets/Spending_money_wallet.png" alt=""> Jeet Saru </td>
                    <td>
                        <p class="amount received">+ R1500.00</p>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>
</main>