.dashboard-container {
    display: flex;
  }
  
  .sidebar {
    flex: 1;
  
  }
  
  .top-part {
    flex: 5;
  
  }
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: row; /* Display items horizontally on small screens */
    }
  
    
  }

  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebar {
    flex: 1;
  }
  
  .top-part {
    flex: 52; /* Adjust the flex value as needed */
    min-width: 0;
  }
  
  .checklist {
    flex: 1;
    min-width: 0;
  }
  
  /* Example media query for responsiveness */
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .top-part {
      flex: 1; /* Adjust the flex value as needed */
    }
  }