<app-second-nav-bar></app-second-nav-bar>

<div class="dashboard-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="top-part">
    <app-top-part></app-top-part>
  </div>
</div> 


<div class="mobile-container">
  
  <div class="graph-container">
    <app-graph></app-graph>
  </div>

  <div class="checklist-container">
    <app-checklist></app-checklist>
  </div>
</div>

<div class="footer">
  <span><h2>Copyright @ 2023 | Made by Simplisave</h2></span>
</div>
<!-- <app-footer></app-footer> -->

