.create{
  color:var(--primary-color);
  font-weight: var(--bold);
  font-size: var(--font-medium);
}

.credentials{
  color: black;
  font-size: var(--font-x-small);
}

.title{
    color: var(--primary-color);
    font-weight:var(--bold);
    font-size: var(--font-x-large);
}

.subtitle{
  font-size:var(--font-small);
}

p{
  font-size: var(--font-small);
}

 button{
  width: 30%;
  color: white;
}



.validation{
  width: 100%;
  font-size: var(--font-x-small);
  
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: var(--primary-color); 
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color:var(--primary-color); 
}

.btn{
  background-color: var(--primary-color);
  border-radius: 20px;
  margin-left: 30px;
}

.mat-mdc-button:not(:disabled) {
  color: white;
}

.mat-form-field-appearance-outline .mat-form-field-label .mat-placeholder {
  font-size: xx-small !important;

}

u{
  color: var(--primary-color);
}

mat-label{
  font-size: var(--font-x-small);
}

.cloudUpload{
  color:var(--primary-color);
  width: 50px;
  height: 50px;
  font-size: var(--font-xxx-large);
}

.image-preview {
  margin-top: 20px; /* Adjust the margin to create space between the preview and buttons */
  text-align: center;
  
}

.drop-zone {
  border: 2px dashed var(--gray);
  text-align: center;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  position: relative;
}

.drop-zone p {
  margin: 0;
}

.drop-zone.drag-over {
  border-color: var(--green);
}

.upload-link {
  display: inline-block;
  color:var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.upload-link input[type="file"] {
  display: none;
}

.cloudUpload{
  color: #870A3C;
  width: 50px;
  height: 50px;
  font-size: 48px;
}

.image-preview {
  margin-top: 20px; /* Adjust the margin to create space between the preview and buttons */
  text-align: center;
  
}

.drop-zone {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  position: relative;
}

.drop-zone p {
  margin: 0;
}

.drop-zone.drag-over {
  border-color: rgb(45, 233, 45);
}

.upload-link {
  display: inline-block;
  color: #870A3C;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.upload-link input[type="file"] {
  display: none;
}

.mat-mdc-button:not(:disabled){
    color:white;
}

@media (max-width: 800px) {

      /* If using a global styles file (styles.css) */
        .custom-stepper .mat-step-header .mat-step-label {
        display: none;
        }

      /* If using a component-specific styles file (component.css) */
        :host ::ng-deep .custom-stepper .mat-step-header .mat-step-label {
        display: none;
        }

      
}

