<app-navbar></app-navbar>
<br/>
<mat-horizontal-stepper [linear]="true" class="custom-stepper" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="step1FormGroup">
      <ng-template  matStepLabel>Step 1</ng-template>
      <app-step1 [step1FormGroup]="step1FormGroup"></app-step1>

    </mat-step>
    <mat-step [stepControl]="step2FormGroup">
      <ng-template matStepLabel>Step 2</ng-template>
      <app-step2 [step2FormGroup]="step2FormGroup"></app-step2>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <app-step4 [step4FormGroup]="step4FormGroup"></app-step4>
     
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 4</ng-template>
        <app-step6 [step6FormGroup]="step6FormGroup"></app-step6>
        
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 5</ng-template>
        <app-step7></app-step7>
        <div class="button">
          <button (click)="successAlert()" mat-button matStepperNext>Done</button>
          <button mat-button matStepperPrevious>Previous</button>
        </div>
      </mat-step>
      
  </mat-horizontal-stepper>
  <br/>

  
