<app-navbar></app-navbar>
<br/>
<mat-horizontal-stepper class="custom-stepper" #stepper>
    <mat-step [stepControl]="step1FormGroup">
      <ng-template matStepLabel>Step 1</ng-template>
      <app-step1 [formGroup]="step1FormGroup"></app-step1>
      <div class="button">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="step2FormGroup">
      <ng-template matStepLabel>Step 2</ng-template>
      <app-step2 [formGroup]="step2FormGroup"></app-step2>
      <div class="button">
        <button mat-button matStepperPrevious>Previous</button>
        <button (click)="firstAlert()" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <app-step4></app-step4>
      <div class="button">
        <button mat-button matStepperPrevious>Previous</button>
        <button (click)="secondAlert()" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 4</ng-template>
        <app-step6></app-step6>
        <div class="button">
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 5</ng-template>
        <app-step7></app-step7>
        <div class="button">
          <button mat-button matStepperPrevious>Previous</button>
          <button (click)="lastAlert()" routerLink="/login" mat-button matStepperNext>Done</button>
        </div>
      </mat-step>
      
  </mat-horizontal-stepper>
  <br/>

  
