.button{
    float: right;
    border-radius: 15px;
    background-color:#AF144B;
}

.mat-mdc-button:not(:disabled){
    color: #ffffff;
}

@media (max-width: 800px) {

      /* If using a global styles file (styles.css) */
        .custom-stepper .mat-step-header .mat-step-label {
        display: none;
        }

      /* If using a component-specific styles file (component.css) */
        :host ::ng-deep .custom-stepper .mat-step-header .mat-step-label {
        display: none;
        }

      
}

