<div class="flex-container header">
  <div class="flex-item" style="border-style:none">
    <h1>Transactions</h1>
  </div>

  <div class="form-outline mb-4" class="input-group"
    style="background-color: none; height:40px;">
    <mat-icon style="background-color:none; margin-top: -8px; ">search</mat-icon>
    <input type="search"  class="centered-placeholder" [(ngModel)]="searchFilter"
      (ngModelChange)="applySearchFilter()" style="background-color: none; margin-top: -6px; height:35px;">
  </div>

</div>


<div class="flex-container">

  <!-- <mat-icon class="info-icon" matTooltip="Current Balance on the everyday bank account">info</mat-icon> -->
  <div class="flex-item">
     <h6>Current Balance</h6>
    <p>R {{ this.availableBalance}}</p>
  </div>


    <!-- <mat-icon class="info-icon" matTooltip="Total amount that has been saved for that specific month">info</mat-icon> -->
  <div class="flex-item">
    <h6>Total Income</h6>
    <p>R {{this.totalIncome}}</p>
  </div>

   <!-- <mat-icon class="info-icon" matTooltip="Total amount that has been spent for that specific month on the everyday bank account">info</mat-icon> -->
  <div class="flex-item">
    <h6>Total Expenses</h6>
    <p>R {{this.totalExpenses}}</p>
  </div>
</div>