<app-navbar></app-navbar>
<div class="flex-container">
    <div class="flex-item-left">
        <div class="moneyImg"></div>
    </div>
    <div class="flex-item-right">
        <div class="content">
            <p class="content-paragraph">
                Take the opportunity to save your money while you're still
                receiving an allowance, so that when the allowance stops, you'll
                have a safety net in place.
            </p>
            <br />
            <br />
            <div class="buttonContainer">
                <button routerLink="/learn">Learn more</button>
            </div>
        </div>
    </div>
</div>
