.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: Inconsolata;
}


.flex-item-left {
  background-color: #FFFFFF;
  flex: 40%;
}
.moneyImg{
  height: 100%;
  width: 100%;




    background-image: url('/assets/Icons/Frame 629341.png');
    background-size: cover;
    background-position: bottom;
    color: white;
}
.content-paragraph {
  font-size: 1.2rem; /* Default font size */
  text-align: left;
  font-weight: bold;
}

.flex-item-right {
  background-color: #FFFFFF;
  padding: 20px;
  align-self: center;
  flex: 60%;
}


button{
  width: 20%;
  height: 45px;
  background-color: #AF144B;
  border-radius: 15px;
  border-color: transparent;
  color: #FFFFFF;
}

/* Responsive layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  button{
    width: 60%;
  }
  .content-paragraph{
    margin-top: 10%;
  text-align: center;
  line-height: 2rem;
}
.buttonContainer{
  display: flex;
  justify-content: center;
}
}
