.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: Inconsolata;
}


.flex-item-left {
  background-color: white;
  flex: 40%;
}
.moneyImg{
  height: 100%;
  width: 100%;




    background-image: url('/assets/Images/Learn/Frame 629341.png');
    background-size: cover;
    background-position: bottom;
    color: white;
}
.content-paragraph {
  color: black;
    font-family:var(--base-font);
    font-size: var(--font-normal);
    font-style: normal;
    font-weight:var(--regular);
    line-height: normal;
}

.flex-item-right {
  background-color: white;
  padding: 20px;
  align-self: center;
  flex: 60%;
}


button{
  width: 17%;
  height: 40px;
  background-color: var(--primary-lighter);
  border-radius: 15px;
  border-color: transparent;
  color: white;
}

/* Responsive layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  button{
    width: 60%;
  }
  .content-paragraph{
    margin-top: 10%;
  text-align: center;
  line-height: 2rem;
}
.buttonContainer{
  display: flex;
  justify-content: center;
}
}
