<div class="section">
    <div class="heading">
        <h1>Why partner with SimpliSave</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card mb-4" style="max-width: 650px">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img
                                        src="/assets/number-1.png"
                                        class="img-fluid rounded-start"
                                        alt="..." />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Simple account set-up
                                        </h5>
                                        <p class="card-text">
                                            Follow our simple set-up wizard to
                                            open an account in minutes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card mb-4" style="max-width: 650px">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img
                                        src="/assets/Images/Landing/number-2.png"
                                        class="img-fluid rounded-start"
                                        alt="..." />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Achieve your saving goals
                                        </h5>
                                        <p class="card-text">
                                            Open a savings account that grows
                                            your money and set saving goals
                                            track your progress as you spend .
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card mb-4" style="max-width: 650px">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img
                                        src="/assets/number-3.png"
                                        class="img-fluid rounded-start"
                                        alt="..." />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Track your expenses
                                        </h5>
                                        <p class="card-text">
                                            Track expenditure for expense
                                            categories and get notified when
                                            limits are reached.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 d-flex justify-content-center mt-5">
                <div class="card">
                    <div class="card-body d-flex justify-content-center">
                        <div class="card-image mb-2" style="max-width: 600px">
                            <img
                                src="assets/Card.png"
                                class="card-img"
                                alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
