<div class="row">
  <div class="heading">
    <h1 style="color:#870A3C; text-align: center;margin-left: 50px;">Why partner with SimpliSave</h1>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="/assets/number-1.png" class="img-fluid rounded-start" alt="..." style="background-color: aqu;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Simple account set-up</h5>
                <p class="card-text">Follow our simple set-up wizard to open an account in minutes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card mb-3" style="max-width: 600px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="/assets/number-2.png" class="img-fluid rounded-start" alt="..." style="background-color: aqu;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Achieve your saving goals</h5>
                <p class="card-text">Open a savings account that grows your money and set saving goals track your progress as you spend .</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="card mb-3" style="max-width: 600px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="/assets/number-3.png" class="img-fluid rounded-start" alt="..." style="background-color: aqu;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Track your expenses</h5>
                <p class="card-text">Track expenditure for expense categories and get notified when limits are reached.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <div class="card-image mb-2" style="max-width: 600px;">
          <img src="assets/Card.png" class="card-img" alt="...">
        </div>
      </div>
    </div>
  </div>

</div>
