.outer-container{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    margin-bottom:0;
    margin-top: 20px;

  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
  }

.heading {
  text-align: center;
  color: var(--primary-lighter);
  text-align: center;
  font-family: var(--base-font);
  font-size: var(--font-xx-large);
  font-style: normal;
  font-weight: var(--semi-bold);
  line-height: normal;
  margin-bottom: 5%;
  padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  border-style: solid;
  border-width: 0.1px;
  border-radius: 12px;
  border-color: lightgrey;
  width:80%;
  height: 100%;
}

.cardInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35vw;
  margin:0;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  border-style: none;
  justify-content: center;
  height: 20vh;
}
.card1 {
  display: flex;
  align-items: center;
  width: 55vw;
  padding: 0;
  margin: 0;
  flex-direction: column;
  text-align: center;
  border-style: none;
  justify-content: center;
  height: 20vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.card-explanation {
  color: black;
text-align: center;
font-family: var(--base-font);
font-size: var(--font-normal);
font-style: normal;
font-weight: var(--regular);
line-height: normal;
}

.frame {

  display: inline-flex; /* Change to inline-flex to align subframes horizontally */
  justify-content: center;
  align-items: center;
  height:20vh;
  margin: 10px;
  padding:10px;
}

.sub-frame {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
padding:5%;
  
}

.sub-frame img {
  max-width: 100%;
  height: auto;
}

.sub-frame h3 {
  margin-top: 10px;
}
.sub-frame p{
  padding: none;
}

.button-container{
  display: flex;
  justify-content: flex-end;
  width:100%
}

.custom-button{
  max-width: 10%;
  border-radius: 20px;
  border-style: none;
  background-color:var(--primary-lighter);
  color: white;
  width:45px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  margin: 20px;
  margin-left: 10px;
}

.previous-button{
  max-width: 12%;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.1px;
  border-color: lightgray;
  background-color:white;
  color: grey;
  width:45px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  margin-top: 20px;
}

.mdc-button__label{
color: white!important;
}


@media (max-width: 790px) {
    .card-container{
      width: 100%;
      padding: 0;
      margin: 0;
      height:auto;
    }

  
  .card-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cardInfo{
    width:100%;
  }
  .frame{
    height:fit-content;
    justify-content: space-evenly;
    height:30.5vh;
    margin: 0;
    padding:0;
  }
.sub-frame{
  height: fit-content;
}
  .card-heading {
    color: black;
    text-align: center;
    font-family: var(--base-font);
    font-size: var(--font-normal);
    font-style: normal;
    font-weight: var(--bold);
    line-height: normal;
  }

  .card-explanation {
    color: black;
      text-align: center;
      font-family: var(--base-font);
      font-size: var(--font-x-small);
      font-style: normal;
      font-weight: var(--regular);
      line-height: normal;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 22%;
  }
  
  .heading{
    color: var(--primary-color);
    text-align: center;
    font-family: var(--base-font);
    font-size:var(--font-x-large);
    font-style: normal;
    font-weight: var(--regular);
    line-height: normal;
    width: 100vw;
    margin: 0;
    padding: 0;
    height:10vh;
  }
  

  .card1 {
    display: flex;
    align-items: center;
    width:auto;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    border-style: none;
    justify-content: center;
    height: 25vh;
  }

  h6{
    color: black;
    text-align: center;
    font-family: var(--base-font);
    font-size: var(--font-normal);
    font-style: normal;
    font-weight: var(--bold);
    line-height: normal;
  }

  p {
    color: black;
    text-align: center;
    font-family: var(--base-font);
    font-size: var(--font-normal);
    font-style: normal;
    font-weight: var(--bold);
    line-height: normal;
  }

  .custom-button{
    max-width: 15%;
    border-radius: 20px;
    height: 30px;
    padding: 10px 24px;
    margin: 20px;
    margin-left: 10px;
    font-size: var(--font-x-small);
  }
  
  .previous-button{
    max-width: 20%;
    border-radius: 20px;
    height: 30px;
    padding: 10px 24px;
    margin-top: 20px;
    font-size: var(--font-x-small);
  }
  
 
}