<div class="container">
    <div class="flex-container">
        <h1 class="heading">Savings account vs investment account</h1>
        <div class="card-container">
            <div class="cardInfo">
                <div class="frame">
                    <div class="sub-frame">
                        <img
                            src="./assets/Images/Learn/Risky1.png"
                            alt="Image 1" />
                        <h6>Tax-free Savings Account</h6>
                        <p style="color: green">Safe</p>
                    </div>
                    <div class="sub-frame">
                        <img
                            src="./assets//Images/Learn/shield.png"
                            alt="Image 2" />
                        <h6>Investment Account</h6>
                        <p style="color: red">Risk involved</p>
                    </div>
                </div>

                <div class="card1">
                    <div class="card-content">
                        <p class="card-explanation">
                            A savings account is for securely storing and
                            accumulating funds with interest, while an
                            investment account is for potentially higher returns
                            through financial instrument investments like stocks
                            and bonds. Savings accounts prioritize stability and
                            liquidity, while investment accounts focus on growth
                            and capital appreciation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button matStepperPrevious class="previous-button">
                    Previous
                </button>
                <button matStepperNext class="custom-button">Next</button>
            </div>
        </div>
    </div>
</div>
